body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: $color-black;
    background-color: $color-white;
    overflow-y: scroll;
    #app {
        padding-top: 83px;
    }
}

a {
    cursor: pointer;
}

a,
a:focus,
a:hover {
    color: $color-black;
}

a:active,
a:focus,
a:hover {
    text-decoration: none !important;
}

a:focus,div:focus,button:focus {
    outline: none;
}

ul,
ol,
li,
p {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    line-height: 20px;
}

input,
textarea {
    outline-style: none!important;
}

i {
    font-style: normal;
}

.dropdown-menu {
    border-color: transparent;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
    line-height: 30px;
    color: $color-black;
}

.tooltip {
    .tooltip-inner {
        font-size: 14px;
        max-width: none;
        padding: 5px 10px;
    }
}