#categories,
#recommendations,
.recommend-content {
  padding-left: 15px;
  // 推荐列表：推荐专题、作者，资料卡
  .recommend-list {
    text-align: center;
    margin: 0 -15px;
    .btn-more {
      width: 38.2%;
    }
  }
}
