#category,
#collection,
#follow {
	.note-info.info-lg {
		.title,
		.info {
			padding: 10px 0 0 0;
		}
	}
	.article-list {
		position: relative;
	}
	@media screen and(max-width:768px) {
		#select-menu {
			right: 5px;
			a {
				padding: 4px 6px;
			}
		}
	}
}
