#category,
#collection,
#follow {
	.note-info.info-lg {
		.title,
		.info {
			padding: 10px 0 0 0;
		}
	}
}

#category {
	.note-info.info-lg {
		width: 100%;
		float: left;
		margin-bottom: 15px;
	}
	.btn-base {
		margin: 13px 260px 0px 15px;
		padding: 6px 0;
		font-size: 13px;
		min-width: 65px;
		width: 75px;
		i {
			font-size: 13px;
		}
	}
}
