#index {
    margin-top: -30px;
    .poster-container {
        margin-bottom: 30px;
    }
    .wrap {
        padding-top: 30px;
        .main {
            .videos {
                margin: 0 -5px 15px;
                .video {
                    padding: 0 5px;
                }
            }
        }
    }
    .more-video{
        float: right;
        padding-top: 1px;
        p{
           color:$light-color4;
           line-height: 12px;
           margin-top: 10px;
           font-size: 14px;
        }
        i{
            font-size: 13px;
        }

    }
}
