#index {
    margin-top: -30px;
    .poster-container {
        margin-bottom: 30px;
        .hidden-xs{
            .poster-inner{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                position: relative;
                width: 100%;
                height: 100%;
                img{
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .wrap {
        padding-top: 30px;
        .main {
            .videos {
                margin: 0 -5px 15px;
                .video {
                    padding: 0 5px;
                }
            }
        }
    }
    .more-video{
        float: right;
        padding-top: 1px;
        display: flex;
        p{
           color:$light-color4;
           line-height: 12px;
           margin-top: 10px;
           font-size: 14px;
        }
        i{
            font-size: 13px;
        }

    }
}
