#index {
    margin-top: -30px;
    section {
        padding-top: 30px;
        .main {
            .videos {
                 margin: 0 -5px;
                .video {
                    padding: 0 5px;
                }
            }
        }
    }
}
