.player-container {
	// 播放中心
	.playerBox {
		background-color: $dark-color3;
		color: $light-color1;
		margin-bottom: 30px;
		.player-basic {
			margin-top: 10px;
			background-color: #2b2b2b;
			position: relative;
			// 播放器
			.playerArea {
				padding: 0;
				.h5-player {
					background-color: #000;
				}
				.h5-option {
					min-height: 50px;
					padding: 0px 15px;
					.editor-btn {
						float: right;
						margin-top: 10px;
						background-color: #252525 !important;
						border-color: #717171 !important;
						color: #d96a5f !important;
						&:hover {
							background-color: #d96a5f !important;
							border-color: #d96a5f !important;
							color: #fff !important;
						}
					}

					.likeButton {
						padding-top: 10px;
						.btn-base {
							padding: 3px 8px;
							.btn-like {
								a {
									font-size: 14px;
									i {
										font-size: 20px;
										vertical-align: middle;
									}
								}
							}
							.modal-wrap {
								font-size: 14px;
								margin-left: 8px;
								a {
									padding-left: 8px;
								}
							}
						}
					}
					.share-circle {
						float: right;
						a {
							width: 50px;
							height: 37px;
							margin-left: 5px;
							text-align: center;
							border-radius: 50%;
							vertical-align: middle;
							display: inline-block;
							cursor: pointer;
							margin-top: 5px;
							i {
								margin-top: 5px;
								font-size: 24px;
								pointer-events: none;
							}
						}
					}
				}
			}
			.video-right {
				float: right;
				width: 33.33333%;
				.listArea {
					.title {
						border-bottom: 1px solid #424242;
						background-color: #333;
					}
				}
				.admire {
					float: right;
					margin-top: 12%;
				}
			}
			@media (max-width: 767px) {
				.video-right {
					display: none;
				}
			}
		}
		.video-title {
			font-size: 20px;
			font-weight: 300;
			margin-top: 15px;
		}
		@media (max-width: 767px) {
			.video-title {
				font-size: 16px;
			}
		}
		.video-info {
			margin-top: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			.category-name {
				background-color: $theme-color;
				border-radius: 30px;
				padding: 0 12px;
				color: $light-color1;
				font-size: 12px;
				line-height: 20px;
				font-weight: 300;
			}
			i {
				color: #999;
				padding-left: 20px;
				padding-right: 3px;
				font-size: 16px;
			}
			.icon-shipin1 {
				font-size: 14px;
			}
			span {
				padding-right: 20px;
				color: #999;
				font-size: 12px;
			}
			@media (max-width: 767px) {
				span {
					padding-right: 0px;
				}
				.icon-shipin1 {
					display: none;
				}
				.hits {
					display: none;
				}
			}
		}
		// 视频信息
		.video-relevant {
			padding: 15px 0;
			color: $light-color1;
			position: relative;
			.author-info {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 66%;
			}
			.related-video {
				display: none;
			}
			@media (max-width: 767px) {
				.author-info {
					width: 100%;
				}
				.related-video {
					display: block;
					.title {
						margin-top: 10px;
						h4 {
							padding-left: 0px;
						}
					}

					.video-list {
						padding: 0px;
					}
				}
			}
			.video-title {
				font-size: 25px;
				font-weight: 300;
			}
			.admire-min {
				display: none;
			}
			.video-description {
				color: #888;
				font-size: 13px;
				margin-top: 15px;
			}
			@media (max-width: 767px) {
				.video-title,
				.video-description {
					word-wrap: wrap-word;
					word-break: break-all;
					overflow-wrap: break-word;
					color: #888;
				}
			}
			.video-categories {
				> h4 {
					border-left: 3px solid #d96a5f;
					padding-left: 10px;
					margin-bottom: 30px;
				}
				.category-label {
					background-color: #3d3d46;
					border: 1px solid #666;
					color: #888;
					margin-right: 35px;
					&:hover {
						color: #d96a5f;
					}
				}
			}
			.desc {
				line-height: 30px;
				font-size: 15px;
				.upload-user {
					.sub {
						color: $light-color1;
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							margin-right: 10px;
						}
					}
					.button-vd {
						display: inline-block;
						margin-left: 10px;
						float: right;
						a {
							padding: 0 6px;
							line-height: 25px;
							font-size: 13px;
							i {
								font-size: 13px;
							}
						}
					}
				}
			}
			.admire {
				a {
					font-size: 13px;
					padding: 0 8px;
					line-height: 25px;
					font-size: 13px;
					font-weight: 300;
				}
			}
			// 相关视频
			.listArea {
				padding: 0px 20px 0 20px;
				display: flex;
				flex-direction: column;
				.related-video {
					margin-right: -20px;
					overflow-x: hidden;
					overflow-y: auto;
					&::-webkit-scrollbar {
						width: 5px;
						background: $dark-color1;
					}
					&::-webkit-scrollbar-track-piece {
						background: 0 0;
					}
					&::-webkit-scrollbar-button {
						display: none;
					}
					&::-webkit-scrollbar-thumb {
						background: #555;
						border-radius: 5px;
					}
					.video-list {
						.video-item {
							.info {
								.video-title {
									color: $light-color1;
								}
							}
						}
					}
				}
			}
			@media (max-width: 768px) {
				.video-item {
					width: 50%;
					float: left;
					padding: 5px;
					margin-bottom: 0;
					.link {
						display: inline-block;
						> div {
							width: 100%;
							float: none;
							.recommend-video-title {
								display: block !important;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
					}
				}
			}
		}
		.button-vd {
			& > a {
				width: 100%;
				background-color: $dark-color1 !important;
				border-color: $gray-color1 !important;
				color: $theme-color !important;
				&:hover {
					background-color: $theme-color !important;
					border-color: $theme-color !important;
					color: #fff !important;
				}
			}
		}
	}

	// 评论+推荐视频
	.sectionBox {
		background-color: #fff;
		margin-bottom: 20px;
		.guess-like {
			padding-top: 20px;
			width: 33.3333%;
			float: right;
			.guessVideo {
				h4 {
					font-weight: 300;
					font-size: 25px;
					margin: 0 0 20px;
					line-height: 25px;
					color: $dark-color2;
				}
			}
			.recommend-video-title {
				color: #333 !important;
			}
		}
	}
	.modal {
		.option {
			text-align: center;
		}
		.reward-intro {
			text-align: center;
			.intro {
				color: #252525;
			}
		}
		.modal-body {
			text-align: center;
		}
	}
}
