.questions-list {
	position: fixed;
	width: 100%;
	top: 57px;
	padding-top: 15px;
	z-index: 998;
	background-color: #fff;
	box-shadow: 0 2px 2px 1px $light-color1;
	.recommend-question {
		width: 100%;
		height: 52px;
		overflow: hidden;
		position: relative;
		padding-right: 90px;
		.question-label {
			border-color: transparent;
			&.more {
				position: absolute;
				top: 0;
				right: 0;
				margin-right: 0;
			}
			&.hot {
				background-color: rgba($hot-pink, 0.2);
				border-color: rgba($hot-pink, 0.3);
				&.active {
					color: $hot-pink !important;
				}
			}
			&.money {
				background-color: rgba($theme-color, 0.2);
				border-color: rgba($theme-color, 0.3);
			}
		}
	}
}
#questions {
	overflow: hidden;
	background-color: $light-color3 !important;
	.wrap {
		padding-top: 55px;
		.main {
		}
		.aside {
			.hot-questions {
				margin: 0 0 30px 0;
			}
			.wd-contact {
				.contact-info {
					padding-top: 8px;
					p {
						font-size: 14px;
						color: $gray-color1;
						margin-top: 8px;
						&.cooperate {
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
