@keyframes scaleOne {
  0% {
      opacity: 0.8;
      -webkit-transform: scale(.8)
  }
  100% {
      opacity: 1;
      -webkit-transform: scale(1)
  }
}
@keyframes scaleTwo {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0.8;
        -webkit-transform: scale(.8)
    }
}

#login,#register {
	height: 100vh;
	text-align: center;
	font-size: 14px;
	background-color: $light-color2;
	&:before {
	    content: "";
	    display: inline-block;
	    height: 85%;
	    vertical-align: middle;
	}
	.logo {
		position: absolute;
    top: 50px;
    margin-left: 50px;
    width: 10%;
    min-width: 140px;
    max-width: 220px;
    a {
    	width: 100%;
    	img {
    		width: 100%;
    	}
    }
	}
  @media screen and (max-width:768px) {
  	&::before {
  		display: none;
  	}
		.logo {
			display: none;
		}
		.signs {
			width: 100%;
			max-width: 100%;
			height: 100%;
			margin: 0;
			padding: 10% 5%;
		}
	}
}