.video-top {
	.more-cateory {
		float: right;
		padding-top: 1px;
		p {
			color: $light-color4;
			line-height: 12px;
			margin-top: 10px;
			font-size: 14px;
		}
		i {
			font-size: 13px;
		}
	}
	.category-video-list {
		clear: both;
		overflow: hidden;
		margin-right: -5px;
		text-align: center;
		@media screen and (max-width: 768px) {
			.category-video-item {
				width: 50% !important;
				margin-right: 0px !important;
			}
		}
		.category-video-item {
			float: left;
			width: 129px;
			height: 196px;
			margin: 0 26px 20px 0;
			position: relative;
			background: $theme-skin;
			.game-category {
				width: 130px;
				height: 175px;
				border-radius: 4px;
			}
			p {
				text-align: center;
				color: $light-color4;
				line-height: 12px;
				margin-top: 10px;
				font-size: 12px;
			}
		}
	}
}
.video-navs {
	width: 100%;
	padding: 15px 0;
	.nav-menus:after {
		content: "";
		clear: both;
		display: block;
	}
	.nav-menus {
		height: auto;
		position: relative;
		padding: 0 10px;
		.menu-title {
			color: #333;
			line-height: 40px;
			font-size: 26px;
			margin-right: 32px;
			width: auto;
			font-weight: 700;
			position: relative;
			p {
				padding-top: 3px;
			}
		}
		li {
			float: left;
			position: relative;
			width: 96px;
			text-align: left;
			overflow: visible;
			line-height: 32px;
			font-size: 14px;
			padding-right: 5px;
			height: 42px;
			a {
				color: #666;
				max-width: 75px;
				height: 30px;
				position: absolute;
				bottom: 0;
			}
		}
	}
}
.video-box {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	.box-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: solid 1px $light-color2;
		width: 98%;
		.top-left {
			display: flex;
			align-items: center;
			img {
				width: 36px;
				height: 36px;
				margin: 5px;
			}
			p {
				font-size: 16px;
				color: $light-color4;
				margin-left: 10px;
			}
			i {
				font-size: 26px;
				color: $hot-pink;
			}
		}
		.top-right {
			position: relative;
			right: 0px;
			p {
				color: $light-color4;
				line-height: 12px;
				margin-top: 10px;
				font-size: 14px;
			}
			i {
				font-size: 13px;
			}
		}
	}
	.box-body {
		.game-video-list {
			clear: both;
			overflow: hidden;
			width: 100%;
			@media screen and (max-width: 768px) {
				.game-video-item {
					margin-left: 20px !important;
					float: none !important;
					width: auto !important;
				}
			}
			.game-video-item {
				float: left;
				margin: 20px 20px 0 0;
				width: 290px;
				.video-info {
					display: block;
					position: relative;
					width: 100%;
					margin-bottom: 10px;
					overflow: hidden;
					height: 195px;
					border-radius: 4px;
					&:hover {
						img {
							box-shadow: 0 1px 5px 1px $gray-color3;
							transform: scale(1.1);
							transition: all 0.3s ease-in-out;
						}
						.hover-play {
							opacity: 1;
							transform: scale(0.8);
							transition: all ease-out 250ms;
						}
					}
					.video-photo {
						width: auto;
						height: 100%;
					}
				}
				.video-title {
					display: block;
					overflow: hidden;
					white-space: nowrap;
					width: 295px;
					text-overflow: ellipsis;
					line-height: 25px;
					font-weight: 500;
				}
				.info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 5px;
					width: 100%;
					span {
						color: $light-color5;
						font-size: 13px;
						line-height: 15px;
						font-weight: 200;
					}
				}
				.avatar {
					width: 24px;
					height: 24px;
					border-radius: 50%;
				}
				a {
					font-size: 15px;
					color: $light-color4;
				}
				i {
					padding-left: 5px;
					font-size: 14px;
					color: $light-color5;
					font-weight: 400;
				}
				.hover-play {
					padding: 0px;
				}
			}
		}
	}
}
