// 特殊色彩
.weixin {
  color: $weixin-color;
}
.weibo {
  color: $weibo-color;
}
.qq {
  color: $qq-color;
}
.more,
.qqzone {
  color:  #fb981d;
}
.other {
  color: $gray-color2;
}

.weixin-bg {
  background-color: $weixin-color;
}
.weibo-bg {
  background-color: $weibo-color;
}
.qq-bg {
  background-color: $qq-color;
}
.theme-bg {
  background-color: $theme-color;
}
.qqzone-bg {
  background-color: #d96a5f;
}
.other-bg {
  background-color: $gray-color2;
}

.hover-colour {
  &:hover {
    .weixin {
      color: $weixin-color;
    }
    .weibo {
      color: $weibo-color;
    }
    .qq {
      color: $qq-color;
    }
    .more,
    .qqzone {
      color: $theme-color;
    }
    .other {
      color: $gray-color2;
    }
  }
}
