input,textarea {
  outline: none !important;
  outline-style: none !important;
}
// 输入框样式
textarea,.sign-container,.commenTable{
  padding: 10px 15px;
  width: 100%;
  height: 80px;
  font-size: 13px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  resize: none;
  display: inline-block;
  vertical-align: top;
  overflow-x: hidden;
}
//input样式
.input-style {
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  background-color: rgba(181, 181, 181, 0.1);
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #E3E6FD;
    -webkit-box-shadow: 0 0 0 400px #E3E6FD inset;
}
// 搜索框
#search-input {
  width: 100%;
  height: 36px;
  padding: 0 40px 0 20px;
  border-radius: 36px;
  background-color: $light-color1;
  border: none;
  outline: none;
  font-size: 14px;
}