@import "../variables";

@import "moviePlayer";

.video-main {
    margin-top: 22px;
    position: relative;
}

.main-left {
    @media (min-width: $col-xl-width) {
        padding-left: 0;
    }
}
.video-info {
    border-top: 1px solid #e7e7e7;
    padding: 16px 0;
    .video-cover {
        position: relative;
        display: block;
        float: left;
        width: 134px;
        height: 179px;
        z-index: 2;
        border-radius: 2px;
        overflow: hidden;
        background-color: #f4f5f7;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .video-right {
        position: relative;
        padding-left: 150px;
        height: 100%;
        z-index: 1;
        .video-title {
            display: block;
            height: 20px;
            line-height: 20px;
            font-size: 16px;
            color: #212121;
            font-weight: 500;
            margin-bottom: 16px;
            // padding-right: 240px;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .video-count {
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            color: #999;
            margin-bottom: 8px;
        }
        .pub-wrapper {
            height: 16px;
            margin-bottom: 8px;
            font-size: 12px;
            color: #212121;
            .home-link {
                display: block;
                float: left;
                height: 16px;
                line-height: 16px;
                margin-right: 10px;
                color: #212121;
                cursor: pointer;
            }
            .pub-info {
                display: block;
                float: left;
                height: 16px;
                line-height: 16px;
                margin-right: 10px;
            }
        }
        .video-desc {
            position: relative;
            display: block;
            font-size: 12px;
            color: #212121;
            min-height: 18px;
            line-height: 18px;
            word-wrap: break-word;
            word-break: break-all;
            white-space: normal;
            span.absolute {
                position: absolute;
                display: inline-block;
                vertical-align: top;
                top: 0;
                left: 0;
                right: 0;
                line-height: 18px;
                opacity: 0;
                z-index: 2;
                white-space: pre-line;
            }
            span {
                position: relative;
                z-index: 1;
                white-space: pre-line;
                // @include webkit-text-ellipsis(2);
            }
            i {
                position: relative;
                display: inline-block;
                vertical-align: top;
                padding-left: 4px;
                height: 18px;
                line-height: 18px;
                text-align: right;
                color: $theme-blue;
                background-color: #fff;
                font-style: normal;
                cursor: pointer;
                z-index: 3;
            }
            &.webkit-ellipsis i {
                position: absolute;
                padding-left: 12px;
                right: 0;
                bottom: -2px;
            }
        }
        .video-rating {
            margin-top: 11px;
            .score {
                position: relative;
                height: 24px;
                line-height: 24px;
                font-weight: 700;
                font-size: 24px;
                color: $theme-color;
                margin-bottom: 4px;
                font-family: HelveticaNeue-Bold;
                padding-right: 14px;
                display: inline-block;
            }
            p {
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                color: #999;
            }
        }
    }
}

.side-right {
    @media (min-width: $col-lg-width) {
        padding-right: 0;
    }
    @media (max-width: $col-lg-width - 1px) {
        margin-top: 15px;
    }
}
.recommend-module {
    position: relative;
    width: 100%;
    .rc-title {
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        color: #222;
        margin-bottom: 12px;
    }
    .rc-list {
        width: 100%;
        margin: 0;
        .rc-item {
            width: 100%;
            height: 80px;
            padding: 0;
            margin-bottom: 14px;
        }
    }
}
.rc-item {
    .cover-wrapper {
        position: relative;
        display: block;
        float: left;
        width: 130px;
        height: 100%;
        overflow: hidden;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            .video-mask,
            .duration {
                opacity: 1;
            }
            .common-lazy-img {
                transform: scale(1.2);
            }
        }
        .common-lazy-img {
            width: 100%;
            height: 100%;
            transition: all 4s linear;
            img {
                width: 100%;
                height: 100%;
                border-radius: 2px;
                object-fit: cover;
            }
        }
        .video-mask {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            -webkit-transition: opacity 0.3s ease;
            -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }
        .duration {
            opacity: 0;
            position: absolute;
            bottom: 2px;
            left: 6px;
            color: #fff;
            font-size: 12px;
            height: 12px;
            line-height: 12px;
            padding: 0 5px 1px 0;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            z-index: 5;
        }
    }
    .info-wrapper {
        padding-left: 140px;
        height: 100%;
        .video-title {
            display: block;
            height: 36px;
            line-height: 18px;
            font-size: 14px;
            margin-bottom: 28px;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
            font-weight: 500;
            cursor: pointer;
        }
        .video-count {
            height: 16px;
            line-height: 16px;
            font-size: 12px;
            color: #999;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.video-comment {
    margin-top: 6px;
}
