@import "../variables";

.search_container {
    margin: 20px;
}

.side {
    @media (min-width: $col-lg-width) {
        width: 260px;
        // float: right;
    }
}
.main {
    @media (min-width: $col-lg-width) {
        // margin-right: 320px;
    }
}

.search_mod {
    margin-bottom: 30px;
    .mod_box {
        .mod_title {
            zoom: 1;
            position: relative;
            margin-bottom: 0;
            font-size: 18px;
            white-space: nowrap;
            .title {
                margin-bottom: 15px;
                color: #111;
                font-size: 20px;
                font-weight: 400;
            }
            .bg_rank_ball {
                z-index: -1;
                position: absolute;
                top: -14px;
                left: 84px;
                width: 16px;
                height: 34px;
                border-radius: 13px 13px 0 0;
                background-image: linear-gradient(-180deg, #ff5c38, rgba(255, 255, 255, 0) 83%);
                opacity: 0.4;
                &:before,
                &:after {
                    position: absolute;
                    top: 38px;
                    left: -14px;
                    width: 12px;
                    height: 24px;
                    border-radius: 10px 10px 0 0;
                    background-image: linear-gradient(-180deg, #ffb821, rgba(255, 255, 255, 0) 79%);
                    content: "";
                }
                &:after {
                    top: 26px;
                    right: -16px;
                    left: auto;
                    width: 8.4px;
                    height: 24px;
                    border-radius: 7px 7px 0 0;
                    background-image: linear-gradient(-180deg, #ff117a, rgba(255, 255, 255, 0) 77%);
                }
            }
        }
        .mod-list {
            .hot-list {
                .item {
                    display: block;
                    position: relative;
                    width: 100%;
                    float: left;
                    border-bottom: 1px solid #f0f0f0;
                    line-height: 44px;
                    @media (min-width: $col-md-width) and (max-width: $col-lg-width) {
                        width: 50%;
                        border: none;
                    }
                    @for $i from 1 through 3 {
                        &:nth-of-type(#{$i}) {
                            .num {
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                color: #ff5c38;
                                background-image: linear-gradient(0deg, #ff1459, #ff5c38 45%, #ffbe40);
                                letter-spacing: 0;
                            }
                        }
                    }
                    & > a {
                        display: block;
                    }
                    .num {
                        display: inline-block;
                        width: 24px;
                        height: 44px;
                        margin-right: 4px;
                        color: #666;
                        font-size: 20px;
                        text-align: left;
                        vertical-align: top;
                    }
                    .name {
                        display: inline-block;
                        max-width: 12em;
                        overflow: hidden;
                        font-size: 15px;
                        text-overflow: ellipsis;
                        vertical-align: top;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.result_tips.result_empty {
    padding: 100px 0;
    text-align: center;
    .tips_title {
        margin-bottom: 20px;
        font-size: 18px;
        .hl {
            color: $theme-color;
        }
    }
    .tips_desc {
        color: #999;
        font-size: 14px;
    }
}
