.search-result_video {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    min-height: 200px;
    @media (max-width: $col-sm-width - 1) {
        .result-thumb {
            width: 100px;
            height: 142px;
        }
        .result-info {
            margin-left: 150px;
            .video_info {
                .info_item {
                    margin-top: 6px;
                }
            }
        }
    }
    .result-thumb {
        float: left;
        display: block;
        position: relative;
        width: 160px;
        height: 224px;
        background-position: 50% 50% !important;
        background-size: cover !important;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        &:hover {
            .play-icon {
                opacity: 1;
            }
        }
        .play-icon {
            opacity: 0;
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.2);
            transition: all ease-out 0.35s;
            i {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: rgba(255, 255, 255, 0.8);
                font-size: 400%;
            }
        }
        .pic-tag {
            position: absolute;
            z-index: 99;
            padding: 2px 5px;
            font-size: 12px;
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
        }
        .pic-tag-top {
            top: 5px;
            left: 5px;
        }
        .pic-text {
            display: block;
            width: 100%;
            position: absolute;
            z-index: 99;
            bottom: 0;
            left: 0;
            padding: 5px 10px;
            font-size: 12px;
            color: #fff;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.pic-bottom {
                background-repeat: no-repeat;
                background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
                color: #fff;
            }
        }
    }
    .result-info {
        margin-left: 175px;
        .video_title {
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 30px;
            .video_name {
                font-size: 20px;
                color: $theme-color;
                font-weight: 500;
                font-style: normal;
            }
            .video_score {
                position: absolute;
                top: 0;
                right: 0;
                color: #ff5c38;
                font-size: 20px;
            }
        }
        .video_info {
            .info_item {
                margin-top: 10px;
                overflow: hidden;
                font-size: 12px;
                letter-spacing: normal;
                line-height: 22px;
                text-overflow: ellipsis;
                vertical-align: top;
                white-space: nowrap;
                word-break: break-all;
                .label {
                    color: #999;
                }
                .content {
                    color: #111;
                }
                &.info_item_desc {
                    max-width: 100%;
                    line-height: 18px;
                    white-space: normal;
                    .label {
                        float: left;
                    }
                    .desc_text {
                        color: #666;
                        display: block;
                        position: relative;
                        max-width: 100%;
                        min-height: 20px;
                        max-height: 40px;
                        line-height: 20px;
                        margin-top: -1px;
                    }
                    .desc_more {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding-left: 26px;
                        background: #fff;
                        background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0, #fff 20px);
                        color: #666;
                        line-height: 20px;
                        cursor: pointer;
                    }
                }
            }
            .video_operation {
                margin-top: 10px;
                vertical-align: middle;
                line-height: 16px;
                .play-btn {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 8px 20px;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 5px;
                    background: linear-gradient(to right, #ff9900 0, #ff9f16 100%);
                    box-shadow: 0 5px 10px rgba(255, 111, 0, 0.25);
                    .iconfont {
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
    }
}
