/node_modules
/public/hot
/public/storage
/public/img*
/public/css/*
/public/js/*
/public/sitemap*
/public/mix-manifest.json
/public/*.apk
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
*.zip
*.log