/node_modules
/public/hot
/public/storage
/public/img*
/public/*.apk
/public/sitemap*
/public/css
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
*.zip
.DS_Store
laravel-echo-server.lock
*.diff
*.patch
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
config/ide-helper.php
storage/debugbar
.history