#side-tool {
  position: fixed;
  right: 20px;
  bottom: 50px;
  &>ul {
  	&>li {
      border: 1px solid #dcdcdc;
      border-bottom: none;
      background-color: #fff;
      transition: .1s ease-in;
      &#goTop {
        display: none;
      }
  		&>a {
  			cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        display: block;
        color: $dark-color1;
	  		i {
          line-height: 50px;
					font-size: 25px;
					display: block;
					&.icon-shoucang1 {
						color: $theme-color;
					}
	  		}
  		}
      .popover {
        top: unset !important;
        bottom: -36px !important;
        left: -138px !important;
        .arrow {
          top: 53% !important;
        }
      }
      &:last-child {
          border-bottom: 1px solid #dcdcdc;
      }
      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
      @media screen and (max-width:768px){
        & {
          background-color: transparent;
          &>a {
            width: 40px;
            height: 40px;
            i {
              font-size: 18px;
              line-height: 40px;
            }
          }
        }
      }
  	}
  }
}