// 按钮切换：已关注/取消关注
@mixin button-toggle-followed() {
	background-color: #fff;
	border-color: $gray-color3;
	color: $gray-color2 !important;
	&::after {
		content: "已关注";
	}
	.chacha {
		display: none;
	}
	.gougou {
		display: inline-block;
	}
	&:hover {
		background-color: $light-color1;
		border-color: $gray-color2;
		color: $gray-color1 !important;
		&::after {
			content: "取消关注";
		}
		.chacha {
			display: inline-block;
		}
		.gougou {
			display: none;
		}
	}
}
// 实心按钮hover
@mixin button-hover($color:$weixin-color) {
	background-color: rgba($color, 0.9) !important;
	border-color: rgba($color, 0.9) !important;
	color: #fff !important;
	&:hover {
		background-color: $color !important;
	}
}
//空心按钮hover
@mixin button-blank-hover($color:$weixin-color) {
	border-color: rgba($color, 0.9) !important;
	color: rgba($color, 0.9) !important;
	&:hover {
		background-color: rgba($color, 0.2) !important;
	}
}
// 基本按钮
.btn-base {
	display: inline-block;
	line-height: 1;
	border: 1px solid transparent;
	border-radius: 50px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	outline: none !important;
	font-size: 15px;
	padding: 11px 18px;
	i {
		font-size: 15px;
	}
	&.btn-md,
	&.btn-sm,
	&.btn-xs {
		width: auto;
		height: auto;
		margin: 0;
		float: unset;
	}
	&.btn-sm,
	&.btn-xs {
		font-size: 12px;
		i {
			font-size: 13px;
		}
	}
	&.btn-md {
		min-width: 70px;
		padding: 10px 16px;
		font-size: 14px;
		i {
			font-size: 14px;
		}
	}
	&.btn-sm {
		padding: 6px 10px;
	}
	&.btn-xs {
		padding: 3px 6px;
	}
	&.btn-lg {
		width: auto !important;
		padding: 12px 25px;
		font-size: 16px;
	}
	&.btn-hg {
		width: auto !important;
		padding: 12px 40px;
		font-size: 20px;
	}
	&.btn-bold {
		font-weight: 500;
		margin: 30px 0;
		min-width: 90px;
	}
}
.btn-follow,
.btn-toggle-followed {
	width: 100px;
	padding: 11px 0;
}
.btn-follow,
.btn-toggle-followed,
.btn-hollow {
	float: right;
	i {
		margin-right: 3px;
	}
	@media screen and (max-width: 768px) {
		width: 80px;
		padding: 10px 0;
		font-size: 14px;
		i {
			font-size: 14px;
		}
	}
}
.btn-follow,
.btn-handle {
	@include button-hover();
}
//切换：已关注/取消关注
.btn-toggle-followed,
.toggle-followed {
	@include button-toggle-followed;
}
.toggle-followed {
	&:hover {
		background-color: transparent;
	}
}
// 空心按钮
.btn-hollow {
	@include button-blank-hover;
}
.btn-gray,
.btn-light {
	background-color: $light-color2;
	border-color: $gray-color3;
	color: $gray-color1 !important;
	&:hover {
		background-color: $light-color1;
	}
}
.btn-light {
	background-color: #fff;
}
.btn-more {
	width: 100%;
	background-color: $gray-color2;
	color: #fff !important;
	margin: 30px 0;
}
.btn-theme {
	@include button-hover($theme-color);
}
.btn-login {
	@include button-hover($qq-color);
}
.btn-file {
	position: relative;
	input[type="file"] {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
}
.disable {
	opacity: 0.5;
	pointer-events: none;
}
// 主题色标签+触摸反馈
.theme-tag,
.collection-tag {
	@include button-blank-hover($theme-color);
}
//喜欢按钮
.likeButton {
	display: inline-block;
	width: 100%;
	height: 100%;
	.btn-base {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0;
		.btn-like {
			display: inline-block;
			font-size: 19px;
			a {
				color: $theme-color;
				i {
					font-size: 21px;
					margin-right: 5px;
				}
			}
		}
		.modal-wrap {
			padding-left: $font-size-article;
			line-height: initial;
			font-size: 18px;
			border-left: 1px solid rgba($theme-color, 0.5);
			display: inline-block;
			a {
				color: $theme-color;
				padding-left: $font-size-article;
			}
		}
	}
	.btn-theme {
		.btn-like {
			a {
				color: #fff;
			}
		}
		.modal-wrap {
			border-color: #fff;
			a {
				color: #fff;
			}
		}
	}
}
// 新建专题
.new-note-btn {
	padding-left: 10px;
	font-size: 13px;
	font-weight: 400;
	color: $weixin-color !important;
}
