.content-item {
  padding: 20px 0;
  width: 100%;
  position: relative;
  display: table;
  word-wrap: break-word;
  word-break: break-all;
  color: $dark-color1;
  border-bottom: 1px solid $light-color2;
  &.have-img {
    transition: all 0.5s linear;
    min-height: 150px;
    .content {
      padding-right: 150px;
    }
    .wrap-img {
      display: inline-block;
    }
  }
  .wrap-img {
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    width: 135px;
    height: 110px;
    margin-top: -55px;
    overflow: hidden;
    border-radius: 4px;
    img {
      width: 100%;
      height: 100%;
      border: 1px solid $light-color2;
    }
    .duration {
      position: absolute;
      right: 5px;
      bottom: 2px;
      color: #fff;
      font-size: $font-size-detail;
      text-align: right;
    }
    .rotate-play {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      &::after {
        content: "";
        position: absolute;
        padding: 22%;
        top: 50%;
        left: 50%;
        margin: -22% 0 0 -22%;
        border-radius: 50%;
        background: url(https://www.ainicheng.com/images/rotate_play.png) no-repeat;
        background-size: cover;
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #fff;
      }
    }
    &:hover {
      box-shadow: 0 1px 5px 1px $gray-color3;
      .rotate-play {
        background-color: rgba(0, 0, 0, 0.4);
        &::after {
          animation: rotate 3s infinite linear;
        }
      }
    }
  }
  .author {
    margin-bottom: 15px;
    font-size: 13px;
    .avatar {
      width: 32px;
      height: 32px;
      margin-right: 5px;
    }
    .info {
      display: inline-block;
      vertical-align: middle;
      .nickname {
        color: $dark-color1;
        vertical-align: middle;
      }
      span {
        display: inline-block;
        padding-left: 3px;
        color: $gray-color2;
        vertical-align: middle;
      }
    }
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    .title,
    .abstract {
      @include line-Number(2);
    }
    .title {
      font-size: $font-size-title;
      color: $dark-color1;
    }
    //摘要内容
    .abstract {
      margin: 5px 0 0;
      font-size: $font-size-abstract;
      line-height: 24px;
      -webkit-line-clamp: 3;
      color: $gray-color2;
    }
  }
  //底部信息
  .meta {
    margin: 10px 0 0px;
    font-size: $font-size-detail;
    line-height: 20px;
    a,
    span {
      margin-right: 10px;
      color: $gray-color3;
      display: inline-block;
      vertical-align: middle;
      i {
        font-size: $font-size-detail;
      }
    }
    & > a {
      &:hover {
        color: $gray-color1;
      }
    }
    .category {
      max-width: 140px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: rgba($theme-color, 0.7);
      &:hover {
        color: $theme-color;
      }
    }
  }
  //用户动态的评论样式
  .comment {
    line-height: 1.5;
    font-size: $font-size-tip;
    a {
      color: $link-color;
    }
    p {
      margin-bottom: 10px;
      font-size: $font-size-tip;
      @include line-Number(4);
    }
  }
  blockquote {
    margin-bottom: 0;
    color: $gray-color2;
    border-left: 3px solid $light-color1;
  }
  @media screen and (min-width: 769px) and (max-width: 900px) {
    .comment {
      p {
        -webkit-line-clamp: 3;
        font-size: 14px;
      }
    }
    &.have-img {
      padding: 15px 0;
      min-height: 130px;
      .wrap-img {
        width: 125px;
        height: 100px;
        margin-top: -50px;
      }
      .content {
        padding-right: 140px;
        .author {
          .badge-icon {
            display: none;
          }
        }
        .title {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
    .comment {
      p {
        -webkit-line-clamp: 2;
        font-size: 13px;
      }
    }
    &.have-img {
      padding: 15px 0;
      min-height: 110px;
      .wrap-img {
        width: 100px;
        height: 80px;
        margin-top: -40px;
        .rotate-play {
          i {
            font-size: 20px;
          }
        }
      }
      .author {
        margin-bottom: 8px;
        .avatar {
          width: 22px;
          height: 22px;
        }
        .badge-icon {
          display: none;
        }
      }
      .content {
        padding-right: 110px;
        .title {
          font-size: 14px;
        }
        .abstract {
          -webkit-line-clamp: 2;
          font-size: 12px;
          line-height: 18px;
        }
        .meta {
          margin: 5px 0 0px;
        }
      }
    }
  }
  &:hover {
    .title {
      text-decoration: underline !important;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
