.navbar.navbar-fixed-top {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	border-bottom: 1px solid $light-color1;
	.width-limit {
		max-width: 1380px;
		margin: 0 auto;
		padding: 0 15px;
		.logo {
			float: left;
			height: 56px;
			margin-right: 15px;
			img {
				height: 100%;
			}
		}
		.user {
			float: right;
			position: relative;
			& > a {
				display: block;
				margin: 8px 20px;
				img {
					height: 40px;
					width: 40px;
				}
			}
		}
		.register,
		.creation,
		.ask {
			float: right;
			margin: 9px 0;
			.btn-base {
				font-size: 16px;
				height: 38px;
				line-height: 36px;
				padding: 0 18px;
			}
			&:hover {
				background-color: transparent;
			}
		}
		.register {
			margin-right: 20px;
		}
		.creation,
		.ask {
			a {
				span {
					font-size: 25px;
					margin-right: 5px;
					vertical-align: middle;
				}
			}
		}
		.login {
			float: right;
			margin: 8.5px 6px 0 10px;
			font-size: 16px;
		}
		.container {
			.navbar-header {
				.navbar-toggle {
					float: left;
					padding: 11px 10px;
					margin-top: 9px;
				}
			}
			.navbar-collapse {
				margin-left: -15px;
				.navbar-nav {
					.tab {
						font-size: 16px;
						margin-right: 10px;
						a {
							height: 56px;
							line-height: 26px;
							padding: 15px;
							i {
								font-size: 20px;
								margin-right: 5px;
							}
						}
						.badge {
							top: 8px;
							right: -8px;
						}
						&.active {
							& > a {
								color: $theme-color;
								background-color: initial;
							}
						}
						&:hover {
							background-color: $light-color1;
						}
					}
					// 消息
					.notification {
						.hover-dropdown-menu {
							.badge {
								top: 50%;
								right: 15px;
								transform: translate(0, -50%);
							}
						}
					}
					//用户下拉框
					.user {
						img {
							width: 40px;
							height: 40px;
							border: 1px solid #ddd;
							border-radius: 50%;
						}
						.hover-dropdown-menu {
							width: 160px;
							li {
								font-size: 14px;
								& > a {
									i {
										font-size: 20px;
										margin: -2px 15px 0 0;
									}
								}
							}
						}
					}
				}
				// 搜索
				.navbar-form {
					margin: 10px 0;
					border-color: transparent;
					.form-group {
						text-align: center;
						.search-wrapper {
							display: inline-block;
							#search-input,
							.form-control {
								width: 220px;
								transition: all 0.3s ease-in-out;
								&:focus {
									outline: 0 !important;
									box-shadow: none;
									width: 260px;
									& + span {
										color: $light-color2;
										background-color: $gray-color2;
									}
								}
								@media screen and (max-width: 1000px) and (min-width: 768px) {
									width: 150px;
									&:focus {
										outline: 0 !important;
										box-shadow: none;
										width: 160px;
									}
								}
							}
						}
					}
				}
			}
		}
		@media screen and (max-width: 1000px) and (min-width: 768px) {
			.logo {
				margin-right: 0;
			}
			.container {
				.navbar-collapse {
					.navbar-nav {
						.tab {
							margin-right: 0;
						}
					}
				}
			}
		}
		@media screen and(max-width:768px) {
			.user {
				.hover-dropdown-menu {
					left: -50% !important;
					width: 160px;
				}
			}
			.container {
				.navbar-nav {
					.tab {
						margin-right: 0px;
						border-bottom: 1px solid $light-color2;
						text-align: center;
						.badge {
							top: 8px;
							right: unset;
							margin-left: 20px;
						}
					}
					.register {
						margin-right: 0;
					}
					.user {
						.hover-dropdown-menu {
							width: 100%;
							text-align: center;
							left: 50% !important;
							transform: translate(-50%, 0);
							border: none;
							box-shadow: unset;
							li {
								a {
									line-height: 36px;
								}
							}
						}
					}
				}
			}
		}
	}
}
