#poster {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 99;
    .poster-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        .item {
            display: none;
            .banner {
                display: inline-block;
                vertical-align: top;
                transition: 0.6s cubic-bezier(0.6, 0, 0.2, 1);
                a {
                    position: relative;
                    display: inline-block;

                    img {
                        width: 100%;
                        transition: 1s cubic-bezier(0.6, 0, 0.2, 1);
                    }
                    .title {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 0 2%;
                        text-align: center;
                        background-color: rgba(#000, 0.4);
                        p {
                            display: inline-block;
                            font-family: "微软雅黑";
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 1.5;
                            color: #fff;
                            text-align: left;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
                &:hover {
                    a {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .active,
        .next,
        .prev {
            display: block;
        }
        .active {
            &.left {
                .banner {
                    opacity: 0;
                }
            }
            &.right {
                .banner {
                    opacity: 0;
                }
            }
        }
        .next {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .banner {
                opacity: 0;
            }
            &.left {
                .banner {
                    opacity: 1;
                }
            }
        }
        .prev {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            .banner {
                opacity: 0;
            }
            &.right {
                .banner {
                    opacity: 1;
                }
            }
        }
    }
    .banner-btn {
        position: absolute;
        width: 40px;
        height: 50px;
        top: 50%;
        display: none;
        align-items: center;
        justify-content: center;
        transform: translate(0, -50%);
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 20px;
        color: #fff;
        z-index: 999;
        &.left {
            left: 0;
            border-radius: 0 4px 4px 0;
        }
        &.right {
            right: 0;
            border-radius: 4px 0 0 4px;
        }
    }
    &:hover {
        .banner-btn {
            display: flex;
        }
    }
    @media screen and (max-width: 600px) {
        .poster-inner {
            .item {
                .banner {
                    a {
                        .title {
                            p {
                                font-size: 18;
                            }
                        }
                    }
                }
            }
        }
        .banner-btn {
            width: 25px;
            height: 30px;
            font-size: 14px;
        }
    }
}
