.signs {
  width: 40%;
  min-width: 340px;
  max-width: 400px;
  margin: 60px auto 0;
  padding: 50px 50px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  vertical-align: middle;
  display: inline-block;
  .title {
    margin-bottom: 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
    .normal-title {
      a {
        padding: 10px;
        color: #969696;
      }
      b {
        padding: 10px;
      }
      .active {
        font-weight: 700;
        color: #FF9D23;
        border-bottom: 2px solid #FF9D23;
      }
    }
  }
  .signs-container {
    form {
      margin-bottom: 30px;
      .input-prepend {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        input {
          width: 100%;
          height: 50px;
          margin-bottom: 0;
          padding: 4px 12px 4px 35px;
          border: 1px solid #c4c4c4;
          border-radius: 0 0 4px 4px;
          background-color: hsla(0,0%,71%,.1);
          vertical-align: middle;
        }
        i {
          position: absolute;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          top: 10px;
          left: 5px;
          font-size: 18px;
          color: #969696;
        }
      }
      .restyle {
        margin-bottom: 0;
        input {
          border-bottom: none;
          border-radius: 4px 4px 0 0;
        }
      }
      .no-radius {
        input {
          border-radius: 0;
        }
        i {
          font-size: 20px;
        }
      }
      .remember-btn {
        float: left;
        margin: 15px 0;
        span {
          margin-left: 5px;
          font-size: 15px;
          color: #969696;
          vertical-align: middle;
        }
      }
      .forget-btn {
        float: right;
        position: relative;
        margin: 15px 0;
        font-size: 14px;
        &>a {
          color: #969696;
        }
        .dropdown-menu {
          right: 5px;
        }
      }
      .btn-base {
        width: 100%;
        padding: 12px;
        font-size: 18px;
      }
      .sign-up-msg {
        margin: 10px 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        color: #969696;
        a {
          color: #2B89CA;
        }
      }
    }
    .more-sign {
      margin-top: 30px;
      h6 {
        position: relative;
        margin: 0 0 20px;
        font-size: 12px;
        color: #969696;
        &::after,&::before {
          content: "";
          border-top: 1px solid #b5b5b5;
          display: block;
          position: absolute;
          width: 60px;
          top: 5px;
        }
        &::after {
          right: 30px;
        }
        &::before {
          left: 30px;
        }
      }
    }
  }
}