.vd-head {
	margin: 20px 0;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 50px;
		margin-top: -1px;
		height: 2px;
		background: #eee;
		background: linear-gradient(to right, #eee 80%, rgba(238, 238, 238, 0) 100%);
	}
	.vd-title {
		position: relative;
		display: inline-block;
		background-color: #fff;
		padding-right: 6px;
		margin: 0 10px 0 0;
		font-size: 16px;
		color: $dark-color1;
		line-height: 30px;
		.title-icon {
			i {
				font-size: 22px;
				color: $hot-pink;
				margin-right: 10px;
			}
		}
	}
}

.video-list {
	.video-item {
		margin-bottom: 10px;
	}
}

.hover-play {
	opacity: 0;
	background: url(https://www.ainicheng.com/images/play-icon.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	transform: scale(1.5);
	transition: all ease-out 250ms;
}

.video-item {
	width: 100%;
	// 垂直
	&.vt {
		.thumb {
			width: 100%;
			a {
				position: relative;
				display: inline-block;
				transition: all 0.3s ease-in-out;
				width: 100%;
				height: 85px;
				overflow: hidden;
				img {
					width: 100%;
					height: auto;
					position: relative;
					transition: all 0.3s ease-in-out;
				}
				.duration {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					left: 0;
					right: 10%;
					bottom: 0;
					height: 30%;
					color: #fff;
					font-size: $font-size-detail;
					background-image: linear-gradient(to top, rgba(#000, 0) 0%, transparent 100%);
				}
				&:hover {
					box-shadow: 0 1px 5px 1px $gray-color3;
					img {
						transform: scale(1.1);
					}
					.hover-play {
						opacity: 1;
						transform: scale(0.8);
						transition: all ease-out 250ms;
					}
				}
			}
		}
		.info-list {
			margin-top: 2px;
			padding: 7px 0;
			.video-title {
				height: 36px;
				line-height: 18px;
				margin-bottom: 4px;
				@include line-Number(2);
				a {
					font-size: $font-size-info;
					color: $dark-color2;
					&:hover {
						color: $sky-blue;
					}
				}
			}
			.subtitle {
				font-size: $font-size-detail;
				color: $gray-color2;
			}
		}
	}
	//水平
	&.hz {
		a {
			display: flex;
			align-items: center;
			&:hover {
				.info {
					.video-title {
						color: $sky-blue !important;
					}
				}
			}
			.cover {
				width: 50%;
				float: left;
				display: inline-block;
				position: relative;
				img {
					width: 100%;
				}
				.duration {
					position: absolute;
					left: 4px;
					bottom: 8px;
					padding: 0 6px;
					height: 16px;
					line-height: 16px;
					font-size: 12px;
					color: #fff;
					background-color: rgba(#000, 0.4);
					border-radius: 2px;
				}
			}
			.info {
				width: 50%;
				padding: 0 5%;
				float: right;
				display: inline-block;
				.video-title {
					font-size: 14px;
					line-height: 20px;
					color: $dark-color2;
					@include line-Number(2);
				}
				.amount {
					white-space: nowrap;
					font-size: 12px;
					color: $gray-color2;
				}
			}
		}
	}
}
