.modal-post,
.modal-ask-question {
	.modal-dialog {
		padding-bottom: 20px;
		.modal-content {
			.modal-header {
				padding: 10px 20px;
			}
			.modal-body {
				padding: 5px 40px 0px;
				// max-height: 520px;
				overflow: auto;
				& > div {
					line-height: normal;
				}
				.input-question {
					margin-bottom: 5px;
				}
				.textarea-box {
					position: relative;
					textarea {
						padding-bottom: 25px;
					}
					.word-count {
						position: absolute;
						bottom: 1px;
						right: 6px;
						color: #969696;
						font-size: 14px;
					}
				}
				// 问答选项
				.question-setting {
					margin-top: 12px;
					& > p {
						font-size: 14px;
						font-weight: 500;
						margin-bottom: 10px;
					}
					.setting-group {
						& > div {
							margin-right: 20px;
							display: inline-block;
							span {
								font-size: 14px;
								color: #969696;
								display: inline-block;
								vertical-align: middle;
								&.hot {
									color: #d96a5f;
								}
							}
						}
					}
					.pay-group {
						.pay-tip {
							.pay-tip-content {
								font-size: 13px;
								color: #969696;
								line-height: 30px;
								a {
									color: #2b89ca;
								}
							}
						}
						.money-amount {
							& > div {
								font-size: 13px;
								margin-bottom: 10px;
							}
							.refresh {
								cursor: pointer;
								i.icon-shuaxin {
									display: inline-block;
									-webkit-transform: rotate(360deg);
									transform: rotate(360deg);
									-webkit-transition: all 0.5s ease-out;
									transition: all 0.5s ease-out;
								}
							}
							.option {
								text-align: center;
								position: relative;
								margin: 0 5px 5px 0px;
								width: 77px;
								height: 34px;
								line-height: 32px;
								border: 1px solid #e6e6e6;
								border-radius: 4px;
								font-weight: 400;
								color: #999;
								cursor: pointer;
								i {
								}
								.amount {
									font-size: 15px;
									vertical-align: top;
								}
								.piece {
									font-size: 13px;
								}
								.custom-text {
									font-size: 14px;
								}
								.custom-amount-input {
									position: absolute;
									top: 0;
									z-index: -1;
									width: 100%;
									opacity: 0;
									i {
										position: absolute;
										top: 0;
										left: 3px;
									}
									input {
										display: block;
										margin: 0 auto;
										width: 50px;
										height: 38px;
										line-height: 38px;
										border: none;
										font-size: 16px;
										text-align: center;
										background: transparent;
										&::-webkit-outer-spin-button,
										&::-webkit-inner-spin-button {
											-webkit-appearance: none !important;
											margin: 0;
										}
									}
									.piece {
										position: absolute;
										top: 0;
										right: 3px;
									}
								}
							}
							input {
								display: none;
								&:checked + .option {
									color: #d96a5f;
									border-color: #d96a5f;
									.custom-amount-input {
										z-index: 1;
										opacity: 1;
									}
									.custom-text {
										opacity: 0;
									}
								}
							}
						}
						.expiration-date {
							div {
								font-size: 13px;
								margin-bottom: 10px;
							}
							span {
								font-size: 13px;
								color: #969696;
								display: inline-block;
								vertical-align: middle;
							}
							input {
								width: 12px;
								margin-right: 10px;
								vertical-align: middle;
							}
						}
					}
				}
				// 配图
				.img-selector {
					margin-top: 11px;
					position: relative;
					.ask-img-header {
						font-size: 14px;
						padding-bottom: 20px;
						&.bigger {
							padding-bottom: 35px;
						}
						.desc {
							color: #969696;
						}
					}
					.img-preview {
						position: absolute;
						top: 0;
						right: 0;
						.img-preview-item {
							float: right;
							border: 1px solid #e8e8e8;
							margin-left: 4px;
							width: 60px;
							height: 60px;
							position: relative;
							overflow: hidden;
							.as-height {
								height: 100%;
							}
							.img-del {
								width: 18px;
								height: 18px;
								position: absolute;
								z-index: 2;
								top: 0;
								right: 0;
								background-color: rgba(0, 0, 0, 0.5);
								border-radius: 0 0 0 4px;
								padding: 1px;
								cursor: pointer;
								text-align: center;
								line-height: 18px;
								i {
									font-size: 14px;
									color: white;
								}
							}
						}
					}
					.tab-header {
						ul {
							li {
								padding-bottom: 6px;
								height: 20px;
								line-height: 20px;
								box-sizing: content-box;
								display: inline-block;
								font-size: 14px;
								color: #212121;
								margin-right: 30px;
								cursor: pointer;
								&.tab-header-actived {
									border-bottom: solid 2px #d96a5f;
									font-weight: bold;
								}
							}
						}
					}
					.tab-body {
						height: 256px;
						background-color: #f7f7f7;
						margin: 0 -40px;
						padding: 20px 0 0 0;
						position: relative;
						.tab-body-item {
							height: 100%;
							width: 100%;
							position: relative;
							.material-search {
								position: relative;
								height: 34px;
								margin: 0 40px 20px 40px;
								background-color: #ffffff;
								border: 1px solid #ececec;
								border-radius: 2px;
								overflow: hidden;
								.search-icon {
									position: absolute;
									top: 1px;
									left: 0;
									width: 31px;
									height: 31px;
									line-height: 31px;
									text-align: center;
								}
								.search-input {
									height: 100%;
									padding: 2px 64px 2px 32px;
									border: none;
									font-size: 14px;
									background-color: #fff;
									display: block;
									width: 100%;
								}
								.search-submit {
									height: 34px;
									width: 64px;
									background-color: #ececec;
									font-size: 14px;
									line-height: 14px;
									color: #515151;
									letter-spacing: 1px;
									border: none;
									position: absolute;
									top: 0;
									right: 0;
								}
							}
							.img-container {
								height: 180px;
								padding: 0 25px 0 40px;
								overflow-x: auto;
								.img-container-outer {
									overflow: hidden;
									.img-tip {
										margin: 0 0 20px 0;
										.img-tip-content {
											font-size: 13px;
											color: #969696;
											line-height: 18px;
											a {
												color: #2b89ca;
											}
										}
									}
								}
							}
							.img-upload-field {
								height: 100%;
								padding-top: 46px;
								.img-upload-btn {
									position: relative;
									text-align: center;
									i {
										font-size: 42px;
										color: #D8D8D8;
										line-height: 1;
									}
									.img-click-here,
									.img-limit {
										font-size: 14px;
										color: #2b89ca;
										display: block;
										margin-top: 16px;
										line-height: 1;
									}
									.img-file {
										position: absolute;
										overflow: hidden;
										left: 50%;
										top: 0;
										margin-left: -60px;
										width: 120px;
										height: 100px;
										cursor: pointer;
										input {
											width: 100%;
											height: 100%;
											opacity: 0;
											cursor: pointer;
										}
									}
									.img-limit {
										color: #969696;
										margin-top: 12px;
									}
								}
								.img-loading {
									.img-progress {
									}
									.img-progress-bar {
									}
									.img-progress-num {
									}
									i {
									}
								}
							}
						}
					}
				}
			}
			footer {
				padding: 15px 40px;
			}
		}
	}
}
