body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
.strip_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }

.right5 { margin-right:5px; }
.right7 { margin-right:7px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right17 { margin-right:17px; }
.right20 { margin-right:20px; }
.right30 { margin-right:30px; }

.right_p5 { margin-right_p:5px; }
.right_p7 { margin-right_p:7px; }
.right_p10 { margin-right_p:10px; }
.right_p15 { margin-right_p:15px; }
.right_p17 { margin-right_p:17px; }
.right_p20 { margin-right_p:20px; }
.right_p30 { margin-right_p:30px; }

.left5 { margin-left:5px; }
.left7 { margin-left:7px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left17 { margin-left:17px; }
.left20 { margin-left:20px; }
.left30 { margin-left:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom20 { margin-bottom:20px; }
.bottom30 { margin-bottom:30px; }

.border-top {
    border-top: dashed 1px #CCCCCC;
}

.border-bottom {
    border-bottom: dashed 1px #CCCCCC;
}