//更多专题列表页
#categories {
    // @include id;
    .recommend {
        padding: 30px 0 50px;
        position: relative;
        text-align: center;
        img {
            width: 100%;
            min-height: 78px;
            border-radius: 4px;
        }
        .help {
            position: absolute;
            top: 58px;
            right: 30px;
            color: #fff;
            font-size: 16px;
            i {
                font-size: inherit;
            }
        }
        @media screen and (min-width: 992px) {
            .help {
                top: 68px;
            }
        }
        @media screen and (min-width: 1200px) {
            .help {
                top: 78px;
            }
        }
        div {
            .trigger_menu {
                list-style: none;
                border-bottom: 1px solid #f0f0f0;
                margin: 30px 0 0;
                padding: 0;
                text-align: left;
                li {
                    display: inline-block;
                    padding: 8px 0;
                    margin-bottom: -1px;
                    line-height: 20px;
                    a {
                        // @include a;
                        color: #969696;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 25px;
                        padding: 13px 20px;
                        i {
                            margin-right: 5px;
                            font-size: inherit;
                        }
                        &:hover {
                            border-bottom: 2px solid #646464;
                            color: #646464;
                        }
                    }
                }
                .active {
                    border-bottom: 2px solid #646464;
                    a {
                        color: #646464;
                        &:hover {
                            border: 0;
                        }
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .trigger_menu {
                    li {
                        margin-right: 15px;
                        a {
                            padding: 13px 10px;
                        }
                    }
                }
            }
            @media screen and (min-width: 450px) and (max-width: 768px) {
                .trigger_menu {
                    li {
                        margin-right: 45px;
                    }
                }
            }
            .tab-content {
                .row {
                    div {
                        .collection_wrap {
                            border: 1px solid #e6e6e6;
                            background-color: hsla(0, 0%, 71%, .1);
                            border-radius: 4px;
                            margin-top: 80px;
                            padding: 0 20px;
                            a {
                                // @include a;
                                display: inline-block;
                                .avatar_collection {
                                    width: 80px;
                                    height: 80px;
                                    margin: -40px 0 10px;
                                    display: inline-block;
                                    border: 1px solid #ddd;
                                    background-color: #fff;
                                    border-radius: 8px;
                                }
                                .name {
                                    font-size: 24px;
                                    font-weight: 700;
                                    overflow: hidden;
                                }
                                .collection_description {
                                    font-size: 13px;
                                    list-style: 25px;
                                }
                            }
                            .follow {
                                @include button;
                                margin: 0;
                            }
                            hr {
                                background-color: #eaeaea;
                                margin: 20px 0;
                                border: 0;
                                border-top: 1px solid #e2e2e2;
                            }
                            .count {
                                font-size: 14px;
                                padding-bottom: 10px;
                                width: 100%;
                            }
                        }
                    }
                    @media screen and (min-width: 450px) and (max-width: 768px) {
                        div {
                            width: 50%;
                            .collection_wrap {
                                width: 100%;
                            }
                        }
                    }
                }
                .load_more {
                    @include load_more;
                    width: 35%;
                }
            }
        }
    }
}