//专题页
#category {
    .essays {
        .main_top {
            @include main_top;
            @media screen and (min-width: 370px) and (max-width: 768px) {
                padding-bottom: 0;
                .botm {
                    position: static;
                }
            }
            @media screen and (max-width: 370px) {
                .botm {
                    position: absolute;
                    top: 50px;
                    margin-bottom: 0;
                }
                .follow {
                    right: 40px;
                }
                .contribute {
                    left: 40px;
                }
            }
        }
        div {
            .trigger_menu {
                @include trigger_menu;
                @media screen and (min-width: 470px) and (max-width: 768px) {
                    li {
                        a {
                            padding: 0 20px;
                        }
                    }
                }
                @media screen and (max-width: 470px) {
                    li {
                        padding: 0;
                    }
                }
            }
            .tab-content {
                .article {
                    .article_item {
                        @include article_item;
                    }
                }
            }
        }
    }
    .aside {
        padding-left: 35px;
        font-size: 14px;
        .title {
            margin-bottom: 10px;
            color: $color-gray;
        }
        .description {
            @include spacing (0 0 17px 0, 0 0 16px);
            border-bottom: 1px solid $color-white-silver;
            text-align: left;
            a {
                color: $color-gray;
                &:hover {
                    color: $color-black;
                }
            }
        }
        .share {
            @include share;
        }
        .intendant {
            div {
                @include supporter;
                .collection_follower {
                    li {
                        display: inline-block;
                        a {
                            margin-right: -10px;
                            img {
                                border: 3px solid $color-white;
                                background-color: $color-white;
                            }
                        }
                    }
                    li:first-child {
                        margin-left: -3px;
                    }
                    .function_btn {
                        @include proportion (32px, 32px);
                        @include border (50%, 3px solid $color-white);
                        position: absolute;
                        margin-left: 3px;
                        background-color: $color-white-silver;
                        color: #999;
                        text-align: center;
                        line-height: 2;
                        &:hover {
                            background-color: #E0E0E0;
                            color: $color-gray;
                        }
                    }
                }
            }
        }
    }
}