//详情页
#detail {
    // 阅读文章
    .note {
        position: relative;
        .container {
            padding-bottom: 40px;
            .col-xs-12 {
                padding: 0; // 优秀作者图标
                .badge_icon {
                    @include proportion (20px,20px);
                    margin-right: 5px;
                } // 文章
                .article {
                    // 标题
                    .title {
                        @include font (34px, $color-black, 700);
                        line-height: 1.3;
                        margin: 20px 0 0;
                    } // 作者
                    .author {
                        margin: 30px 0 40px;
                        .avatar {
                            @include avatar (48px, 48px);
                        }
                        .info {
                            display: inline-block;
                            vertical-align: middle;
                            .name {
                                font-size: 16px;
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                            .follow {
                                @include button (60px);
                                @include spacing (0, 2px 8px);
                                font-size: 12px;
                            }
                            .following {
                                @include following_button;
                                @include spacing (0,0 3px);
                                @include font (12px,$color-gray);
                                width: 70px;
                                i {
                                    @include font (inherit,$color-gray,700);
                                }
                            }
                            .meta {
                                @include font (12px, $color-gray);
                                margin-top: 5px;
                                span {
                                    padding-right: 5px;
                                }
                            }
                        }
                    } // 文章内容
                    .article_content {
                        @include font (16px, $color-black, 400);
                        line-height: 1.7;
                        p {
                            margin: 0 0 25px;
                        }
                        div {
                            padding-bottom: 25px;
                            img {
                                @include proportion;
                            }
                        }
                    } // 文章来源
                    .article_foot {
                        margin: 30px 0 40px;
                        color: $color-gray;
                        .notebook {
                            color: $color-gray;
                            display: inline-block;
                        }
                        div {
                            float: right;
                            margin-top: 5px;
                            line-height: 1.7;
                        }
                        .modal_wrap {
                            margin-right: 20px;
                            a {
                                color: $color-gray;
                            }
                        }
                    }
                } // 关注作者
                .follow_detail {
                    @include follow_detail;
                    .info {
                        .avatar {
                            @include proportion (48px, 48px);
                        }
                    }
                } // 赞赏作者
                .support_author {
                    padding: 30px 0 20px;
                    text-align: center;
                    clear: both;
                    border-bottom: 1px solid $color-white-silver;
                    p {
                        @include spacing (0 0 20px 0, 0 30px);
                        min-height: 24px;
                        font-size: 17px;
                    }
                    .btn_pay {
                        @include button (100px, 0, $color-theme);
                        cursor: pointer;
                        &:hover {
                            background-color: $color-theme-deep;
                        }
                    }
                    .supporter {
                        @include supporter;
                        .support_list {
                            @include spacing;
                            border: 0;
                        }
                    }
                } // 喜欢分享
                .meta_bottom {
                    margin: 30px 0 80px 0;
                    .like {
                        display: inline-block;
                        .like_group {
                            @include button (190px, 1px solid $color-theme, inherit);
                            @include spacing (0, 13px 0 15px);
                            font-size: 0;
                            a {
                                color: $color-theme;
                            }
                            .btn_like {
                                font-size: 19px;
                                display: inline-block;
                                a {
                                    padding-right: 15px;
                                    i {
                                        margin-right: 5px;
                                        font-size: 21px;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            .modal_wrap {
                                font-size: 18px;
                                border-left: 1px solid rgba(236, 97, 73, .4);
                                display: inline-block;
                                a {
                                    padding-left: 17px;
                                }
                            }
                            &:hover {
                                background-color: $color-white-milk;
                            }
                        }
                    }
                    .share_group {
                        float: right;
                        margin-top: 6px;
                        .share_circle {
                            @include proportion (50px, 50px);
                            @include border (50%, 1px solid $color-gray-light);
                            display: inline-block;
                            margin-left: 5px;
                            text-align: center;
                            vertical-align: middle;
                            i {
                                margin-top: 10px;
                                font-size: 24px;
                                line-height: 2;
                            }
                            .icon-weixin1 {
                                color: $color-green;
                            }
                            .icon-sina {
                                color: #e05244;
                            }
                            .icon-zhaopian {
                                color: $color-gray;
                            }
                            &:hover {
                                background-color: $color-white-milk;
                            }
                        }
                        .more_share {
                            @include font (14px, $color-gray);
                            width: auto;
                            padding: 4px 18px;
                            line-height: 40px;
                            border-radius: 50px;
                        }
                    }
                } // 评论
                div {
                    .comment_list {
                        padding-top: 20px;
                        div {
                            .new_comment {
                                position: relative;
                                margin-left: 48px;
                                .avatar {
                                    @include avatar;
                                    position: absolute;
                                    left: -48px;
                                }
                                .sign_container {
                                    @include proportion (100%, 80px);
                                    @include border (4px, 1px solid $color-gray-light);
                                    font-size: 13px;
                                    background-color: hsla(0, 0%, 71%, .1);
                                    padding: 10px 15px;
                                    text-align: center;
                                    .btn_sign_in {
                                        @include button (80px, 0, $color-blue);
                                        margin: 11px 10px 0 0;
                                        display: inline-block;
                                        &:hover {
                                            background-color: #156dab;
                                        }
                                    }
                                }
                                textarea {
                                    @include proportion (100%, 80px);
                                    @include border (4px, 1px solid $color-gray-light);
                                    font-size: 13px;
                                    background-color: hsla(0, 0%, 71%, .1);
                                    padding: 10px 15px;
                                    resize: none;
                                    outline-style: none;
                                    vertical-align: top;
                                }
                                .write_block {
                                    height: 50px;
                                    display: none;
                                    .emoji_wrap {
                                        position: relative;
                                        .emoji {
                                            float: left;
                                            margin-top: 14px;
                                            i {
                                                @include font (20px, $color-gray);
                                            }
                                        }
                                    }
                                    .hint {
                                        @include font (13px, $color-gray);
                                        float: left;
                                        margin: 20px 0 0 20px;
                                    }
                                    .btn_send {
                                        @include button (80px);
                                        float: right;
                                        margin: 10px 0;
                                        @media screen and (max-width: 450px) {
                                            width: 60px;
                                        }
                                    }
                                    .cancel {
                                        @include font (16px, $color-gray);
                                        float: right;
                                        margin: 18px 30px 0 0;
                                    }
                                    @media screen and (max-width: 450px) {
                                        .hint {
                                            margin: 20px 0 0 5px;
                                        }
                                        .btn_send {
                                            width: 50px;
                                            padding: 5px;
                                        }
                                        .cancel {
                                            margin: 18px 5px 0 0;
                                        }
                                    }
                                }
                            }
                        } // 用户评论
                        .normal_comment_list {
                            margin-top: 30px;
                            div {
                                div {
                                    .top {
                                        @include font (17px, $color-black, 700);
                                        padding-bottom: 20px;
                                        border-bottom: 1px solid $color-white-silver;
                                        span {
                                            vertical-align: middle;
                                        }
                                        .author_only {
                                            @include font (12px, $color-gray);
                                            @include border (12px, 1px solid #e1e1e1);
                                            @include spacing (0 0 0 10px, 5px 8px 3px 8px);
                                        }
                                        .pull-right {
                                            a {
                                                @include font (12px, $color-gray, 400);
                                                margin-left: 10px;
                                                display: inline-block;
                                                &:hover {
                                                    color: $color-black;
                                                }
                                            }
                                            .active {
                                                color: $color-black;
                                            }
                                        }
                                    }
                                }
                                .comment {
                                    padding: 20px 0 30px;
                                    border-bottom: 1px solid $color-white-silver;
                                    div {
                                        .author {
                                            margin-bottom: 15px;
                                            .avatar {
                                                @include avatar;
                                            }
                                            .info {
                                                display: inline-block;
                                                vertical-align: middle;
                                                .name {
                                                    font-size: 15px;
                                                }
                                                .meta {
                                                    @include font (12px, $color-gray);
                                                    span {
                                                        margin-right: 6px;
                                                    }
                                                }
                                            }
                                        }
                                        .comment_wrap {
                                            p {
                                                font-size: 16px;
                                                margin: 10px 0;
                                                line-height: 1.5;
                                            }
                                            .tool_group {
                                                a {
                                                    @include font (0, $color-gray);
                                                    margin-right: 10px;
                                                    display: inline-block;
                                                    i {
                                                        margin-right: 5px;
                                                        font-size: 18px;
                                                        vertical-align: middle;
                                                    }
                                                    span {
                                                        vertical-align: middle;
                                                        font-size: 14px;
                                                    }
                                                    &:hover {
                                                        .icon-fabulous {
                                                            color: $color-theme;
                                                        }
                                                        .icon-xinxi {
                                                            color: $color-black;
                                                        }
                                                        span {
                                                            color: $color-black;
                                                        }
                                                    }
                                                }
                                                .report {
                                                    float: right;
                                                    margin: 12px 0 0 10px;
                                                    display: none;
                                                }
                                            }
                                            &:hover {
                                                .report {
                                                    display: inline;
                                                }
                                            }
                                        }
                                    }
                                    .sub_comment_list {
                                        @include spacing (20px 0 0 0, 5px 0 5px 20px);
                                        border-left: 2px solid $color-gray-light;
                                        .sub_comment {
                                            @include spacing (0 0 15px 0, 0 0 15px 0);
                                            border-bottom: 1px dashed $color-white-silver;
                                            p {
                                                margin: 0 0 5px;
                                                font-size: 14px;
                                                line-height: 1.5;
                                                a {
                                                    color: $color-blue;
                                                }
                                            }
                                            .sub_tool_group {
                                                @include font (12px, $color-gray);
                                                a {
                                                    margin-left: 10px;
                                                    color: $color-gray;
                                                    i {
                                                        font-size: 14px;
                                                        margin-right: 5px;
                                                        vertical-align: middle;
                                                    }
                                                    &:hover {
                                                        color: $color-black;
                                                    }
                                                }
                                                .report {
                                                    float: right;
                                                    margin: 1px 0 0 10px;
                                                    display: none;
                                                    span {
                                                        vertical-align: middle;
                                                    }
                                                }
                                                &:hover {
                                                    .report {
                                                        display: inline;
                                                    }
                                                }
                                            }
                                            &:last-child {
                                                @include spacing;
                                                border: 0;
                                            }
                                        }
                                        .more_comment {
                                            @include font (14px, $color-gray);
                                            a {
                                                color: $color-gray;
                                            }
                                            .add_comment_btn {
                                                i {
                                                    margin-right: 5px;
                                                }
                                                &:hover {
                                                    color: $color-black;
                                                }
                                            }
                                            .line_warp {
                                                @include spacing (0 0 0 10px, 0 0 0 10px);
                                                border-left: 1px solid $color-gray-light;
                                                a {
                                                    color: $color-blue;
                                                }
                                            }
                                        }
                                    }
                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        .pagination {
                            display: block;
                            text-align: center;
                            li {
                                display: inline-block;
                                margin: 0 5px;
                                a {
                                    border-radius: 20px;
                                    color: $color-gray;
                                }
                                .active {
                                    border: none;
                                    background-color: inherit;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    .article {
                        .title {
                            font-size: 24px;
                        }
                        .author {
                            .info {
                                width: 70%;
                            }
                        }
                    }
                    .support_author {
                        p {
                            padding: 0;
                        }
                    }
                    .meta_bottom {
                        display: inline-block;
                        margin-bottom: 60px;
                        .share_group {
                            float: left;
                            margin-top: 20px;
                            .share_circle {
                                @include proportion (45px, 45px);
                            }
                            .more_share {
                                width: auto;
                                line-height: 35px;
                            }
                        }
                    }
                    div {
                        .comment_list {
                            .normal_comment_list {
                                div {
                                    div {
                                        .top {
                                            display: flow-root;
                                            padding-bottom: 6px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media screen and (min-width: 450px) and (max-width: 768px) {
                    .article {
                        .title {
                            font-size: 26px;
                        }
                        .author {
                            .info {
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    } // 推荐阅读
    .note_bottom {
        background-color: #f5f5f5;
        padding: 40px 0;
        .col-xs-12 {
            padding: 0;
            div {
                .main {
                    padding-bottom: 30px;
                    .title {
                        font-size: 15px;
                        padding-left: 8px;
                        border-left: 3px solid $color-theme;
                        line-height: 1;
                    }
                    .include_collection {
                        padding-top: 20px;
                        .item {
                            @include collection_button (white);
                        }
                        .show_more {
                            @include more;
                        }
                    }
                }
            }
            div {
                .recommend_note {
                    margin-bottom: 20px;
                    .meta {
                        .title {
                            font-size: 15px;
                            padding-left: 8px;
                            border-left: 3px solid $color-theme;
                            line-height: 1;
                            a {
                                float: right;
                                color: #A0A0A0;
                                font-size: 14px;
                                i {
                                    font-size: inherit;
                                }
                            }
                        }
                    }
                    .article_list {
                        margin-top: 20px;
                        .article_item {
                            @include article_item;
                            border-bottom: 1px solid #DDDDDD;
                        }
                    }
                }
            }
        }
    }
}