//关注页
#follow {
    .follow_wrp {
        .aside {
            @include spacing (81px 0 0,0 0 30px);
            position: fixed;
            width: 280px;
            top: 0;
            bottom: 0;
            overflow: auto;
            @media screen and (max-width: 992px) {
                width: 200px;
            }
            @media screen and (max-width: 768px) {
                width: 180px;
            }
            @media screen and (max-width: 450px) {
                width: 90px;
            }
            a {
                i {
                    font-size: inherit;
                }
                .icon-xialaxuan {
                    color: #c8c8c8;
                }
            }
            .change_type {
                display: inline-block;
                font-size: 15px;
                margin: 4px 0 0 10px;
            }
            .add_people {
                font-size: 13px;
                float: right;
                margin: 4px 8px 0 0;
            }
            .js_subscription_list {
                margin-top: 7px;
                border-top: 1px solid $color-white-silver;
                clear: both;
                li {
                    line-height: 20px;
                    a {
                        padding: 10px 10px;
                        display: inline-block;
                        width: 100%;
                        border-radius: 0 0 0 4px!important;
                        .avatar {
                            @include avatar;
                        }
                        .avatar_collection {
                            img {
                                border-radius: 10%;
                            }
                        }
                        .name {
                            max-width: 93px;
                            display: inline-block;
                            font-size: 14px;
                            vertical-align: middle;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 25px;
                        }
                        .count {
                            float: right;
                            font-size: 14px;
                            margin-top: 10px;
                            color: #969696;
                        }
                        &:hover {
                            background-color: #f0f0f0;
                            border-radius: 4px 0 0 4px!important;
                        }
                        @media screen and (max-width: 450px) {
                            padding: 10px 15px;
                            .name {
                                display: block;
                            }
                        }
                    }
                    &:first-child a {
                        border-radius: 0 0 0 4px!important;
                    }
                    .router-link-active {
                        background-color: #f0f0f0;
                        border-radius: 4px 0 0 4px!important;
                    }
                }
            }
        }
        .main {
            margin-left: 300px;
            @media screen and (max-width: 992px) {
                margin-left: 200px;
            }
            @media screen and (max-width: 768px) {
                margin-left: 180px;
            }
            @media screen and (max-width: 450px) {
                margin-left: 90px;
            }
            #friend {
                .article {
                    .article_item {
                        @include article_item;
                        .author {
                            .avatar {
                                float: left;
                            }
                            .info {
                                padding-top: 10px;
                            }
                        }
                        .substance {
                            clear: both;
                        }
                        @media screen and (max-width: 450px) {
                            .author {
                                .avatar {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
                .load_more {
                    @include load_more;
                }
            }
            #add {
                .trigger_menu {
                    @include trigger_menu;
                    @media screen and (max-width: 768px) and (min-width:450px) {
                        li {
                            padding-right: 5px;
                            a {
                                padding: 0;
                                i {
                                    margin: 0;
                                }
                            }
                        }
                    }
                    @media screen and (max-width: 450px) {
                        li {
                            a {
                                padding: 13px 23px 4px 23px;
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .tab-content {
                    .tab-pane {
                        padding: 0;
                        list-style: none;
                        li {
                            padding: 0 0 20px;
                            margin: 0 0 20px;
                            border-bottom: 1px solid $color-white-silver;
                            line-height: 20px;
                            div {
                                .follow {
                                    @include button;
                                    float: right;
                                    margin: 8px 0 0 5px;
                                    @media screen and (max-width: 450px) {
                                        width: 75px;
                                    }
                                }
                                .avatar {
                                    @include avatar;
                                    float: left;
                                    width: 55px;
                                    height: 55px;
                                }
                                .avatar_collection {
                                    img {
                                        border-radius: 10%;
                                    }
                                }
                                .info {
                                    padding: 6px 120px 0 64px;
                                    line-height: normal;
                                    min-height: 20px;
                                    color: #969696;
                                    .name {
                                        display: block;
                                        font-size: 15px;
                                        font-weight: 700;
                                        margin-bottom: 5px;
                                        color: #333;
                                    }
                                    p {
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        overflow: hidden;
                                    }
                                    a {
                                        color: #969696;
                                        margin-right: 10px;
                                        i {
                                            font-size: inherit;
                                        }
                                    }
                                    .meta {
                                        margin-top: 8px;
                                        a {
                                            color: #3194d0;
                                            margin: 0;
                                        }
                                        span {
                                            margin-left: 4px;
                                        }
                                    }
                                    @media screen and (max-width: 768px) {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                    .load_more {
                        @include load_more;
                    }
                }
            }
            #user {
                .main_top {
                    @include main_top;
                    .botm {
                        width: 100px;
                    }
                }
                div {
                    .trigger_menu {
                        @include trigger_menu;
                        @media screen and (max-width: 490px) {
                            li {
                                a {
                                    padding: 13px 23px 4px 23px;
                                    span {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .tab-content {
                        .article {
                            .article_item {
                                @include article_item;
                            }
                        }
                        .load_more {
                            @include load_more;
                        }
                    }
                }
            }
            #category {
                .main_top {
                    @include main_top;
                    .botm {
                        width: 100px;
                    }
                    @media screen and (max-width: 768px) {
                        .contribute {
                            top: 160px;
                        }
                    }
                }
                div {
                    .trigger_menu {
                        @include trigger_menu;
                        @media screen and (max-width: 490px) {
                            li {
                                a {
                                    padding: 13px 23px 4px 23px;
                                    span {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .tab-content {
                        .article {
                            .article_item {
                                @include article_item;
                            }
                        }
                        .load_more {
                            @include load_more;
                        }
                    }
                }
            }
            #collection {
                .main_top {
                    @include main_top;
                    .botm {
                        @include news_button;
                        margin: 23px 0 5px 10px;
                        @media screen and (max-width: 450px) {
                            width: 55px;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        padding-bottom: 0;
                    }
                }
                div {
                    .trigger_menu {
                        @include trigger_menu;
                         @media screen and (max-width: 490px) {
                            li {
                                a {
                                    padding: 13px 23px 4px 23px;
                                    span {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    .tab-content {
                        .article {
                            .article_item {
                                @include article_item;
                            }
                        }
                        .load_more {
                            @include load_more;
                        }
                    }
                }
            }
        }
    }
}