//尾部
#tail {
    margin: 3% 0;
    div {
        color: $color-gray;
        a {
            color: $color-gray;
            &:hover {
                color: $color-black;
            }
        }
    }
    .icp {
        color: $color-gray-shallow;
        a {
            color: $color-gray-shallow;
            img {
                height: 30px;
            }
        }
    }
}