//个人主页
#home {
    @include aside;
    .essays {
        .main_top {
            @include main_top;
            @media screen and (max-width: 768px) {
                padding-bottom: 0;
            }
        }
        div {
            .trigger_menu {
                @include trigger_menu;
                @media screen and (min-width: 470px) and (max-width: 768px) {
                    li {
                        a {
                            padding: 0 20px;
                        }
                    }
                }
                @media screen and (max-width: 470px) {
                    li {
                        padding: 0;
                    }
                }
            }
            .tab-content {
                .article {
                    .article_item {
                        @include article_item;
                    }
                }
            }
        }
    }
    .aside {
        font-size: 14px;
        padding-left: 35px;
        .title {
            color: $color-gray;
            margin-bottom: 10px;
            float: left;
        }
        .function_btn {
            float: right;
            @include font (13px, $color-gray);
            &:hover {
                color: $color-black;
            }
        }
        .description {
            @include user_aside_list;
            @include spacing (0 0 17px 0, 0 0 16px 0);
            border-bottom: 1px solid $color-white-silver;
            clear: both;
        }
        .user_dynamic {
            @include spacing (0 0 16px 0, 0 0 10px 0);
            border-bottom: 1px solid $color-white-silver;
            li {
                @include user_aside_list;
            }
        }
        div {
            .list {
                @include spacing (0 0 17px 0, 0 0 16px 0);
                border-bottom: 1px solid $color-white-silver;
                clear: both;
                li {
                    @include user_aside_list;
                    a {
                        img {
                            @include proportion (32px, 32px);
                        }
                        i {
                            color: $color-gray;
                        }
                    }
                    .new_collection {
                        color: $color-green;
                        i {
                            @include font (12px, $color-green, 700);
                            position: relative;
                            top: -1px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}