// 新上榜 // 7日热门 // 30日热门
#hot_articles {
    @include aside; // 左侧
    .essays {
        .tag_banner {
            width: 100%;
            min-height: 78px;
            border-radius: 4px;
            margin-bottom: 30px;
        } // 内容
        .article_list {
            .article_item {
                @include article_item;
            }
        } // 更多内容
        .load_more {
            @include load_more;
        }
    } // 右侧
    .aside {
        padding-left: 35px; // 推荐作者
        .recommended_authors {
            @include recommended_authors;
        }
    }
}