@include initialization;
//首页
#index {
    @include aside;
    @include essays; // 轮播图
    .carousel {
        position: relative;
        width: 100%;
        border-radius: 0 0 6px 6px;
        overflow: hidden;
        z-index: 99;
        margin-bottom: 3%;
        .carousel_inner {
            position: relative;
            width: 100%;
            .item {
                .banner {
                    @include chartholder (33.333%, 100%, top);
                    display: inline-block;
                    &:first-child {
                        float: left;
                        width: 66.666%;
                    }
                    a {
                        display: inline-block;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .carousel_btn {
            @include chartholder (40px, 50px);
            @include font (20px, $color-white);
            position: absolute;
            top: 50%;
            margin-top: -25px;
            background-color: rgba(0, 0, 0, .4);
            text-align: center;
            line-height: 50px;
            display: none;
            &.left {
                left: 15px;
                border-radius: 0 4px 4px 0;
            }
            &.right {
                right: 15px;
                border-radius: 4px 0 0 4px;
            }
        }
        &:hover {
            .carousel_btn {
                display: block;
            }
        }
    }
    .essays {
        // 专题分类
        .classification {
            margin-bottom: 17px;
            .collection {
                @include collection_button ($background-color-milky);
            }
            .more_hot_collection {
                color: #787878;
                border: none;
                background-color: inherit;
                .name {
                    padding: 0;
                }
            }
        }
        .split_line {
            border-bottom: 1px solid $border-color-hr;
            margin: -5px 0 15px;
        } // 内容
        .article {
            .article_item {
                @include article_item;
            }
        }
        .load_more {
            @include load_more;
        }
    }
    .aside {
        // 搜索
        .search {
            margin-bottom: 4%;
        } // 热门榜
        .board {
            padding-bottom: 4px;
            min-height: 228px;
            a {
                position: relative;
                display: inline-block;
                img {
                    @include chartholder (100%, 50px);
                    border-radius: 4px;
                    margin-bottom: 6px;
                }
                .board_tit {
                    @include font (16px, $color-white);
                    position: absolute;
                    display: flex;
                    width: 68%;
                    padding-left: 10%;
                    top: 8px;
                    bottom: 8px;
                    left: 1%;
                    align-items: center;
                    i {
                        padding-left: 5px;
                    }
                    &.one {
                        background-color: #C094FE;
                    }
                    &.two {
                        background-color: #FEB247;
                    }
                    &.three {
                        background-color: #F58A76;
                    }
                    &.four {
                        background-color: #B9E0D9;
                        color: #49837B;
                    }
                    &.five {
                        background-color: #AED0E9;
                        color: #437DA0;
                    }
                }
            }
        } // app二维码
        .app {
            @include border (6px, 1px solid $border-color-hr);
            @include spacing (0 0 25px 0, 5px);
            position: relative;
            width: 100%;
            background-color: $background-color-white;
            cursor: pointer;
            img {
                width: 30%;
            }
            .info {
                @include chartholder (66%);
                display: inline-block;
                .title {
                    @include font (13px, $color-black);
                    i {
                        font-size: inherit;
                    }
                }
                .description {
                    @include font (12px, #999);
                    margin-top: 4px;
                }
            }
            .hover_code {
                @include border (4px, 1px solid $border-color);
                position: absolute;
                opacity: 0;
                display: none;
                bottom: 115%;
                left: 10%;
                width: 80%;
                padding: 5px;
                background-color: $background-color-white;
                box-shadow: 0 2px 2px 1px #ccc;
                img {
                    width: 100%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    padding: 5%;
                    border: 1px solid $border-color;
                    border-color: transparent $border-color $border-color transparent;
                    background-color: $background-color-white;
                    transform: translate(-50%, -50%) rotateZ(45deg);
                }
            }
            &:hover {
                .hover_code {
                    transition: all 0.4s linear 0.4s;
                    opacity: 1;
                    display: block;
                }
            }
        } // 精章内容
        .daily {
            @include daily;
        }
        .recommended_authors {
            @include daily;
            .list {
                @include spacing (0 0 5% 0);
                li {
                    @include spacing (15px 0 0 0);
                    a {
                        margin-top: 5px;
                        display: inline-block;
                    }
                    p {
                        font-size: 12px;
                        margin-top: 2px;
                    }
                    .avatar {
                        @include avatar (40px, 40px, left, 10px);
                    }
                    .follow {
                        @include font (13px, $color-green);
                        float: right;
                    }
                    .name {
                        font-size: 14px;
                    }
                }
            }
            .find_more {
                @include load_more;
                @include font (13px, #787878);
                @include spacing (0, 7px 7px 7px 12px);
                @include border (4px, 1px solid $border-color);
                background-color: $background-color-milky;
            }
        }
        .videos {
            @include daily;
            .note {
                img {
                    @include chartholder (95px, 70px);
                }
            }
        }
    }
}