body {
    @include spacing;
    @include font;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    background-color: $color-white;
    overflow-y: scroll;
    #app {
        padding-top: 81px;
        .dropdown-menu a {
            padding: 10px 20px;
            color: $color-black;
        }
    }
}

a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
    color: $color-black;
}

ul,
ol,
li,
p {
    @include spacing;
    list-style: none;
}

li {
    line-height: 20px;
}

input,
textarea {
    outline-style: none!important;
}

// 头部
header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $color-white-silver;
    top: 0;
    left: 0;
    z-index: 1030;
    text-align: center;
    background-color: $color-white;
    .navbar {
        border: none;
        margin: 0;
        .navbar_wrp {
            .navbar-header {
                a {
                    @include spacing (0, 0 15px 0 0);
                    img {
                        max-height: 50px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        a {
                            @include font (15px, $color-black);
                        }
                        .style_mode_btn {
                            color: $color-gray;
                        }
                        .dropdown-menu {
                            right: auto;
                            a {
                                i {
                                    @include font (22px, $color-red-watermelon);
                                    margin-right: 15px;
                                    vertical-align: middle;
                                }
                                .badge {
                                    margin-top: 6px;
                                    float: right;
                                }
                                &:hover {
                                    background-color: $color-white-milk;
                                }
                            }
                            @media screen and (max-width: 768px) {
                                left: 40%;
                            }
                        }
                        .badge {
                            @include badge;
                            margin-top: -11px;
                        }
                    } // 个人用户
                    .author {
                        .avatar {
                            @include avatar;
                            @include spacing (5px 25px 5px 20px);
                            &::before {
                                content: "";
                                position: absolute;
                                top: 18px;
                                right: -14px;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 6px solid $color-gray;
                            }
                        }
                    } // 写文章
                    .creation {
                        a {
                            @include button;
                            @include spacing (8px 0 5px 14px, 7px);
                            background-color: $color-red-watermelon;
                            &:hover {
                                background-color: $color-red-watermelon-deep;
                            }
                            i {
                                font-size: 18px;
                                vertical-align: middle;
                            }
                        }
                    } // 注册
                    .register {
                        a {
                            @include button (70px, 1px solid $color-red-watermelon, inherit, none);
                            @include spacing (8px 0 5px, 6px);
                            color: $color-red-watermelon;
                            &:hover {
                                border-color: $color-red-watermelon-deep;
                                background-color: $color-white-milk;
                            }
                        }
                    }
                    .tab {
                        i {
                            vertical-align: middle;
                        }
                        .menu_text {
                            vertical-align: middle;
                            @media screen and (max-width: 1200px) and (min-width: 768px) {
                                display: none;
                            }
                        }
                        &:hover {
                            background-color: $color-white-milk;
                        }
                    }
                    .notification:hover>.dropdown-menu {
                        display: block;
                    }
                    .author:hover>.dropdown-menu {
                        display: block;
                    }
                    .active {
                        a {
                            color: $color-red-watermelon;
                            background-color: initial;
                        }
                    }
                } // 搜索
                .navbar-form {
                    border-color: transparent;
                    .form-group {
                        .search_wrp {
                            display: inline-block;
                            position: relative;
                            margin: 0 auto;
                            .form-control {
                                @include proportion (200px, 36px);
                                @include border (18px);
                                padding: 0 40px 0 20px;
                                background-color: #eee;
                                outline: none;
                                transition: all 0.3s ease-in-out;
                                &:focus {
                                    outline: 0 !important;
                                    box-shadow: none;
                                    width: 230px;
                                    &+.icon-sousuo {
                                        color: $color-white-silver;
                                        background-color: $color-gray-deep;
                                    }
                                }
                                @media screen and (max-width:1000px) and (min-width:768px) {
                                    width: 160px;
                                    &:focus{
                                        outline:0 !important;
                                        box-shadow: none;
                                        width: 170px;
                                    }
                                }
                            }
                            .icon-sousuo {
                                @include proportion (28px, 28px);
                                @include font (20px, $color-gray-deep);
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                text-align: center;
                                line-height: 28px;
                                border-radius: 50%;
                            } //热门搜索
                            .hot_search_wrp {
                                margin-top: 9px;
                                width: 220px;
                                left: 0;
                                top: 100%;
                                visibility: hidden;
                                opacity: 0;
                                border-radius: 4px;
                                z-index: 1030;
                                &,
                                &::before {
                                    position: absolute;
                                    background-color: #fff;
                                    box-shadow: 0 0 8px rgba(0, 0, 0, .2);
                                }
                                &::before {
                                    @include proportion (10px, 10px);
                                    content: "";
                                    left: 27px;
                                    transform: rotate(45deg);
                                    top: -5px;
                                    z-index: -1;
                                }
                                .hot_search {
                                    padding: 15px 15px 10px;
                                    border-bottom: 1px solid #f0f0f0;
                                    background-color: #FFF;
                                    border-radius: 4px;
                                    .litter_title {
                                        @include font (14px, $color-gray);
                                        line-height: 2;
                                        margin-bottom: 10px;
                                        text-align: left;
                                        .more {
                                            float: right;
                                            height: 100%;
                                            color: $color-gray;
                                            i {
                                                font-size: 14px;
                                                vertical-align: middle;
                                            }
                                            &:hover {
                                                color: $color-black;
                                            }
                                        }
                                    }
                                    ul {
                                        text-align: left;
                                        li {
                                            margin-right: 10px;
                                            display: inline-block;
                                            line-height: 28px;
                                            a {
                                                @include font (12px, $color-gray);
                                                @include border (3px, 1px solid #ddd);
                                                padding: 2px 6px;
                                                &:hover {
                                                    color: $color-black;
                                                    border-color: $color-gray-deep;
                                                }
                                            }
                                        }
                                    }
                                }
                                @media screen and (max-width:1000px) and (min-width:768px) {
                                    width: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//尾部
    footer {    margin: 3% 0;
    div {
        color: $color-gray;
        a {
            color: $color-gray;
            &:hover {
                color: $color-black;
            }
        }
    }
    .icp {
        color: $color-gray-shallow;
        a {
            color: $color-gray-shallow;
            img {
                height: 30px;
            }
        }
    }
}

// 底部小火箭、分享、收藏、投稿
// .side_tool {
//     position: fixed;
//     z-index: 101;
//     bottom: 40px;
//     right: 40px;
//     ul {
//         padding-bottom: 10px;
//         li {
//             border: 1px solid $color-gray-light;
//             border-bottom: none;
//             background-color: #fff;
//             a {
//                 @include proportion (50px,50px);
//                 text-align: center;
//                 display: block;
//                 i {
//                     padding-top: 16px;
//                     font-size: 20px;
//                     display: block;
//                 }
//                 .icon-xiangxiajiantou-copy {
//                     @include font (25px,$color-black,700);
//                 }
//                 .icon-jia1,.icon-tougaoguanli {
//                     font-weight: 700;
//                 }
//                 .icon-shoucang1 {
//                     color: $color-red-watermelon;
//                 }
//             }
//             &:hover {
//                 background-color: hsla(0,0%,71%,.1);
//             }
//             &:last-child {
//                 border-bottom: 1px solid $color-gray-light;
//             }
//         }
//     }
// }