// 隐藏右边模块
@mixin aside {
    @media screen and (max-width: 768px) {
        .aside {
            display: none;
        }
    }
}

// 页面初始化
@mixin initialization {
    body {
        @include spacing;
        @include font;
        font-family: "微软雅黑", Helvetica, Arial, sans-serif;
        background-color: $color-white;
        overflow-y: scroll;
        #app {
            padding-top: 81px;
            .dropdown-menu a {
                padding: 10px 20px;
                color: $color-black;
            }
        }
    }
    a,
    a:active,
    a:hover,
    a:focus {
        text-decoration: none !important;
        color: $color-black;
    }
    ul,
    ol,
    li,
    p {
        @include spacing;
        list-style: none;
    }
    li {
        line-height: 20px;
    }
    input {
        outline-style: none!important;
    }
}

// 图架
@mixin proportion ($width:100%, $height:100%) {
    width: $width;
    height: $height;
}

// 边框
@mixin border ($border-radius:0, $border:0) {
    border-radius: $border-radius;
    border: $border;
}

// 间距
@mixin spacing ($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}

// 字体
@mixin font ($font-size: 12px, $color: $color-black, $font-weight: normal) {
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}

// 关注、个人主页按钮样式
@mixin button ($width: 100px, $border: 0, $background-color: $color-green, $float: none) {
    @include spacing (23px 0 23px 16px, 8px);
    @include font (15px, $color-white, 400);
    text-align: center;
    line-height: normal;
    border-radius: 40px;
    display: inline-block;
    width: $width;
    border: $border;
    background-color: $background-color;
    float: $float;
    &:hover {
        background-color: #00bc12;
    }
}

// 发消息、投稿按钮样式
@mixin news_button {
    @include button (100px, 1px solid $color-green, inherit, right);
    color: $color-green;
    &:hover {
        background-color: $color-white-milk;
    }
}

// 已关注按钮样式
@mixin following_button {
    @include button (100px, 1px solid hsla(0, 0%, 59%, .6), inherit, right);
    &:hover {
        border: 1px solid hsla(0, 0%, 50%, .6);
        background-color: hsla(0, 0%, 60%, .1);
    }
}

// 收集专题按钮样式
@mixin collection_button ($background-color) {
    @include border (4px, 1px solid $color-gray-light);
    display: inline-block;
    min-height: 35px;
    margin: 0 12px 12px 0;
    font-size: 13px;
    overflow: hidden;
    line-height: 35px;
    background-color: $background-color;
    img {
        @include proportion (35px, 35px);
        @include border (4px 0px 0px 4px);
    }
    .name {
        display: inline-block;
        vertical-align: middle;
        padding: 0px 10px;
        i {
            font-size: inherit;
        }
    }
}

// 收集专题更多按钮样式
@mixin more {
    color: #787878;
    border: none;
    background-color: inherit;
    .name {
        padding: 0;
    }
}

// 头像样式
@mixin avatar ($width: 40px, $height: 40px, $float:none, $margin-right: 5px) {
    display: inline-block;
    width: $width;
    height: $height;
    float: $float;
    margin-right: $margin-right;
    img {
        @include proportion;
        @include border (50%, 1px solid $color-gray-light);
    }
}

// 文章行数
@mixin article_num ($-webkit-line-clamp:4) {
    display: -webkit-box;
    -webkit-line-clamp: $-webkit-line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// 图片样式
@mixin wrap_img {
    padding: 0;
    img {
        @include proportion (100%, 120px);
        @include border (6px, 1px solid $color-gray-light);
    }
}

// 标签页样式
@mixin trigger_menu {
    @include spacing (0 0 20px 0);
    border-bottom: 1px solid $color-white-silver;
    li {
        @include spacing (0 0 -1px 0, 8px 0 0 0);
        display: inline-block;
        a {
            @include font (15px, $color-gray, 700);
            line-height: 25px;
            padding: 13px 20px 4px 20px;
            i {
                margin-right: 5px;
                font-size: 17px;
            }
            &:hover {
                border-bottom: 2px solid $color-gray-deep;
                color: $color-gray-deep;
            }
        }
        @media screen and (max-width: 768px) {
            a {
                padding: 13px 5px 4px 5px;
                i {
                    margin: 0;
                }
            }
        }
        @media screen and (min-width: 450px) and (max-width: 768px) {
            a {
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    .active {
        border-bottom: 2px solid $color-gray-deep;
        a {
            color: $color-gray-deep;
            &:hover {
                border: 0;
            }
        }
    }
}

// 右边aside的头部样式
@mixin title {
    a {
        color: $color-gray;
        float: right;
        &:hover {
            color: $color-gray-deep;
        }
    }
}

// 摘要内容模块的内容样式
@mixin note {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    color: $color-black;
    img {
        @include proportion (48px, 48px);
        float: left;
        margin-right: 6px;
    }
    .note_title {
        @include article_num (2);
        padding-top: 5px;
    }
    .video_title {
        @include article_num (3);
    }
}

// 右边aside的摘要内容模块
@mixin daily {
    width: 100%;
    color: $color-gray;
    font-size: 14px;
    margin-bottom: 15%;
    .title {
        @include title;
    }
    .note {
        @include note;
    }
}

// 文章模块统计数量样式
@mixin meta {
    @include font (12px, $color-gray-shallow, 400);
    @include spacing;
    line-height: 20px;
    a {
        color: $color-gray-shallow;
        margin-right: 10px;
        line-height: 30px;
        &:hover {
            color: $color-gray-deep;
        }
    }
    span {
        margin-right: 10px;
    }
    .special {
        @include border (3px, 1px solid $color-red-watermelon);
        color: $color-red-watermelon;
        padding: 3px;
        vertical-align: middle;
        &:hover {
            color: $color-red-watermelon;
            background-color: $color-white-milk;
        }
    }
    .origin_author {
        display: inline;
        a {
            color: $color-blue;
        }
    }
}

// 文章模块标题样式
@mixin article_title {
    @include font (18px, $color-black, 700);
}

// 文章模块用户页关注作者动态样式
@mixin follow_detail {
    @include spacing (2% 0 0 0, 20px);
    @include border (4px, 1px solid $color-gray-light);
    background-color: hsla(0, 0%, 71%, .1);
    font-size: 12px;
    .info {
        min-height: 47px;
        .avatar {
            @include avatar (40px, 40px, left, 10px);
        }
        .avatar_collection {
            @include avatar (48px, 48px, left, 10px);
            img {
                border-radius: 10%;
            }
        }
        .follow {
            @include button (100px, 0, $color-green, right);
            margin: 6px 0 0 6px;
        }
        .following {
            @include following_button;
            margin: 6px 0 0 6px;
            color: $color-gray;
            i {
                font-weight: 700;
            }
        }
        .title {
            @include font (17px, $color-black);
            margin-right: 3px;
            line-height: 1.8;
            vertical-align: middle;
        }
        .icon-nanhai {
            @include font (15px, $color-blue);
            vertical-align: middle;
        }
        p {
            margin-bottom: 0;
            color: $color-gray;
            a {
                color: $color-blue;
            }
        }
    }
    .signature {
        @include spacing (20px 0 0 0, 20px 0 0 0);
        border-top: 1px solid #e1e1e1;
        color: $color-gray;
        @include article_num (1);
    }
}

// 文章模块
@mixin article_item {
    @include spacing (0 0 17px 0, 0 2px 17px 0);
    border-bottom: 1px solid $color-white-silver;
    .author {
        .avatar {
            @include avatar;
        }
        .info {
            @include font (13px, $color-gray);
            display: inline-block;
            vertical-align: middle;
            a {
                img {
                    @include proportion (14px, 14px);
                }
            }
        }
    }
    .substance {
        margin-top: 2%;
        line-height: 25px;
        .conten {
            @include spacing (0 0 8px 0, 0 5px 0 0);
            a {
                @include article_title;
            }
            .article {
                @include article_num;
            }
            @media screen and (max-width: 768px) {
                .article {
                    -webkit-line-clamp: 3;
                }
            }
        }
        .wrap_img {
            @include wrap_img;
        }
        .meta {
            @include meta;
        }
    }
    .follow_detail {
        @include follow_detail;
    }
    .comment {
        p {
            font-size: 15px;
            line-height: 1.7;
            a {
                color: $color-blue;
            }
        }
        blockquote {
            @include font (12px, $color-gray);
            margin-bottom: 0;
            border-left: 3px solid $color-gray-light;
            .title {
                @include font (15px, $color-black, 700);
                line-height: 1.5;
                margin: 0 0 4px;
            }
            .abstract {
                font-size: 13px;
                line-height: 24px;
                margin: 0 0 4px;
            }
            .meta {
                @include meta;
            }
        }
    }
    @media screen and (min-width: 450px) and (max-width: 768px) {
        .have_img {
            .conten {
                width: 65%;
            }
            .wrap_img {
                width: 30%;
                margin: 0;
            }
        }
    }
}

// 阅读更多模块
@mixin load_more {
    @include font (15px, $color-white);
    @include spacing (30px auto 60px, 10px 15px);
    display: inline-block;
    width: 100%;
    line-height: 20px;
    background-color: #a5a5a5;
    text-align: center;
    border-radius: 20px;
    i {
        font-size: inherit;
    }
}

// 用户、关注页的信息模块的头像、按钮样式
@mixin main_top_list {
    margin-bottom: 30px;
    .avatar {
        @include avatar (80px, 80px, left);
    }
    .avatar_collection {
        img {
            border-radius: 10%;
        }
    }
    .follow {
        @include button (100px, 0, $color-green, right);
    }
    .contribute {
        @include news_button;
        width: 90px;
        margin: 23px 0 5px 5px;
    }
}

// 用户、关注页的信息模块的名字样式
@mixin main_top_name {
    @include font (20px, $color-black, 700);
    vertical-align: middle;
    i {
        @include font (16px);
        vertical-align: middle;
    }
    .icon-nvsheng1 {
        color: $color-red-watermelon;
    }
    .icon-nansheng1 {
        color: $color-blue;
    }
}

// 用户、关注页的信息模块的统计数量样式
@mixin main_top_info_meta {
    @include font (12px, $color-gray);
    @include spacing (0 7px 6px 0, 0 7px 0 0);
    border-right: 1px solid $color-white-silver;
    a {
        color: $color-gray;
        display: block;
        i {
            font-size: 8px;
            margin-left: -3px;
        }
    }
    p {
        @include font (15px);
        margin-bottom: -3px;
    }
}

// 用户、关注页的信息模块
@mixin main_top {
    @include main_top_list;
    .title {
        padding: 5px 0 0 97px;
        .name {
            @include main_top_name;
        }
    }
    p {
        padding-left: 97px;
        @include font (14px, $color-gray);
        a {
            color: $color-blue;
        }
    }
    .info {
        @include spacing (5px 0 0 0, 0 0 0 97px);
        font-size: 14px;
        ul {
            li {
                display: inline-block;
                .meta_block {
                    @include main_top_info_meta;
                    p {
                        padding: 0;
                    }
                }
                &:last-child {
                    .meta_block {
                        @include spacing;
                        border: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 34px;
        .contribute {
            position: absolute;
            right: 140px;
            top: 150px;
            margin-bottom: 0;
        }
        .botm {
            right: 30px;
        }
    }
    @media screen and (max-width: 450px) {
        .avatar {
            width: 50px;
            height: 50px;
        }
        .title,.info,p {
            padding-left: 60px;
        }
        .contribute {
            width: 70px;
        }
    }
}

// 用户、个人页右边aside的列表样式
@mixin user_aside_list {
    margin: 0 0 10px 0;
    a {
        display: inline-block;
        line-height: 30px;
        img {
            @include proportion (20px, 20px);
            margin-right: 5px;
        }
        i {
            font-size: 20px;
            vertical-align: middle;
            margin-right: 5px;
        }
        span {
            vertical-align: middle;
        }
    }
}

// 推荐作者
@mixin supporter{
    .title {
        @include font (14px,$color-gray);
        margin-bottom: 10px;
    }
    ul {
        @include spacing (0 0 17px 0,0 0 8px);
        border-bottom: 1px solid $color-white-silver;
        li {
            margin-bottom: 10px;
            a {
                display: inline-block;
                font-size: 14px;
            }
            .tag {
                @include font (12px,$color-gray);
                @include border (3px,1px solid $color-gray);
                @include spacing (0 0 0 2px,1px 3px);
            }
            .avatar {
                @include avatar (32px,32px);
            }
            .name {
                vertical-align: middle;
            }
            .check_more {
                color: $color-gray;
                &:hover {
                    color: $color-black;
                }
            }
        }
    }
    .support_list {
        display: inline-block;
        vertical-align: middle;
        li {
            display: inline-block;
            margin: 0 -6px;
            .avatar {
                @include avatar;
                margin-right: 0;
                img {
                    border: 3px solid $color-white;
                    background-color: $color-white;
                }
            }
        }
    }
    .rewad_user {
        @include spacing (0 -10px 0 0, 0 0 0 5px);
        display: inline-block;
        cursor: pointer;
        font-size: 13px;
        vertical-align: text-top;
    }
}

// 分享
@mixin share {
    @include spacing (0 0 17px 0,0 0 16px);
    border-bottom: 1px solid $color-white-silver;
    line-height: 30px;
    span {
        font-size: 14px;
    }
    a {
        display: inline-block;
        margin-left: 10px;
        i {
            font-size: 18px;
            vertical-align: middle;
        }
        .icon-weixin1:hover {
            color: #339933;
        }
        .icon-sina:hover {
            color: #ff6600;
        }
        .icon-gengduo:hover {
            color: #666666;
        }
    }
}