//关注页
#notifications {
    .notifications_wrp {
        .aside {
            padding: 0;
            position: fixed;
            width: 280px;
            @media screen and (max-width: 992px) {
                width: 200px;
            }
            @media screen and (max-width: 768px) {
                width: 180px;
            }
            @media screen and (max-width: 450px) {
                width: 90px;
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    line-height: 20px;
                    a {
                        padding: 10px 25px;
                        display: block;
                        line-height: 30px;
                        i {
                            font-size: 24px;
                            margin-right: 15px;
                            vertical-align: middle;
                            color: $color-watermelon;
                        }
                        .icon-pinglun1 {
                            font-size: 30px;
                            font-weight: 800;
                            margin-left: 0;
                        }
                        .icon-xihuan,
                        .icon-yiguanzhu {
                            font-weight: 800;
                        }
                        span {
                            font-size: 15px;
                            vertical-align: middle;
                        }
                        &:hover {
                            background-color: #f0f0f0;
                        }
                        @media screen and (max-width: 450px) {
                            padding: 10px 5px;
                            i {
                                margin-right: 3px;
                            }
                        }
                    }
                    .router-link-active {
                        background-color: #f0f0f0;
                        border-radius: 4px;
                    }
                }
            }
        }
        .main {
            margin-left: 300px;
            @media screen and (max-width: 992px) {
                margin-left: 200px;
            }
            @media screen and (max-width: 768px) {
                margin-left: 180px;
            }
            @media screen and (max-width: 450px) {
                margin-left: 90px;
            }
            #comments {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .comment_list {
                    list-style: none;
                    padding: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        font-size: 15px;
                        .comment_head {
                            line-height: 20px;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: #2b89ca;
                                }
                            }
                            .info {
                                font-size: 12px;
                                color: #969696;
                                padding-left: 48px;
                            }
                        }
                        p {
                            margin: 10px 0 0;
                            line-height: 1.7;
                        }
                        .tool_group {
                            margin-top: 10px;
                            a {
                                color: #969696;
                                margin-right: 30px;
                                font-size: 13px;
                                i {
                                    font-size: inherit;
                                    vertical-align: middle;
                                }
                                .icon-pinglun1 {
                                    font-size: 15px;
                                }
                                span {
                                    vertical-align: middle;
                                }
                                &:hover {
                                    color: #333;
                                }
                            }
                            .report {
                                display: none;
                                float: right;
                            }
                            &:hover {
                                .report {
                                    display: inline-block;
                                }
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #chats {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .chats_list {
                    list-style: none;
                    padding: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        font-size: 15px;
                        .time {
                            font-size: 13px;
                            float: right;
                            .dropdown-toggle {
                                color: #969696;
                                i {
                                    font-size: inherit;
                                }
                                &:hover {
                                    color: #333;
                                }
                            }
                            .dropdown-menu {
                                left: auto;
                                top: auto;
                                right: 0;
                                li {
                                    padding: 0;
                                    border: none;
                                    font-size: 14px;
                                }
                            }
                        }
                        .open {
                            .dropdown-toggle {
                                color: #333;
                            }
                        }
                        a {
                            .chats_item {
                                font-size: 14px;
                                .avatar {
                                    @include avatar;
                                    float: left;
                                    width: 50px;
                                    height: 50px;
                                    vertical-align: middle;
                                }
                                .title {
                                    padding: 4px 0 0 60px;
                                }
                                .info {
                                    padding: 4px 0 4px 60px;
                                    font-size: 12px;
                                    color: #969696;
                                    p {
                                        @include spacing;
                                        @include article_num (2);
                                    }
                                }
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #chat_messages {
                .chat_top {
                    position: fixed;
                    z-index: 1;
                    width: 839px;
                    min-height: 35px;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    text-align: center;
                    background-color: #fff;
                    border-bottom: 1px solid $border-color-hr;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -81px;
                        left: 0;
                        height: 81px;
                        width: 100%;
                        background-color: #fff;
                    }
                    .back_list {
                        font-size: 14px;
                        color: #969696;
                        float: left;
                        i {
                            font-size: inherit;
                        }
                    }
                    b {
                        font-size: 14px;
                    }
                    .dropdown {
                        display: inline-block;
                        float: right;
                        .open_dropdown {
                            color: #969696;
                        }
                        .dropdown-menu {
                            right: 0;
                            top: auto;
                            left: auto;
                        }
                    }
                }
                .message_show {
                    padding-top: 50px;
                    .load_more {
                        @include load_more;
                        margin: 0;
                        background-color: inherit;
                        color: #2b89ca;
                        font-size: 14px;
                    }
                    .message_list {
                        list-style: none;
                        padding: 10px 0 110px;
                        .message_l,
                        .message_r {
                            margin-bottom: 15px;
                            line-height: 20px;
                            border: none;
                            padding: 20px;
                            div {
                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    display: inline-block;
                                    top: 0;
                                }
                                &::after {
                                    top: 1px;
                                }
                            }
                            @media screen and (max-width: 450px) {
                                padding: 20px 0;
                            }
                        }
                        div {
                            position: relative;
                            display: block;
                            margin: 4px 56px 0;
                            min-height: 39px;
                            .content {
                                position: relative;
                                padding: 8px 12px;
                                font-size: 14px;
                                border: 1px solid;
                                word-break: break-word!important;
                                line-height: 1.5;
                                display: table-cell;
                            }
                        }
                        .time {
                            margin-top: 2px;
                            font-size: 12px;
                            color: #d9d9d9;
                        }
                        .message_l {
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            div {
                                .content {
                                    min-height: 39px;
                                    background-color: #e7f1fc;
                                    border-color: #bad0e9;
                                    border-radius: 0 4px 4px 4px;
                                }
                                &::before,
                                &::after {
                                    left: -9px;
                                    border-left: 9px solid transparent;
                                    border-top: 16px solid #bad0e9;
                                }
                                &::after {
                                    left: -7px;
                                    border-top: 16px solid #e7f1fc;
                                }
                            }
                            .time {
                                float: left;
                                margin-left: 56px;
                            }
                        }
                        .message_r {
                            .avatar {
                                @include avatar;
                                float: right;
                            }
                            div {
                                .content {
                                    float: right;
                                    min-height: 39px;
                                    background-color: #eee;
                                    border-color: #d9d9d9;
                                    border-radius: 4px 0 4px 4px;
                                }
                                &::before,
                                &::after {
                                    right: -9px;
                                    border-right: 9px solid transparent;
                                    border-top: 16px solid #d9d9d9;
                                }
                                &::after {
                                    right: -7px;
                                    border-top: 16px solid #eee;
                                }
                            }
                            .time {
                                float: right;
                                margin-right: 56px;
                            }
                        }
                    }
                }
                .write_message {
                    position: fixed;
                    width: 839px;
                    bottom: 0;
                    background-color: #fff;
                    form {
                        width: 100%;
                        margin-bottom: 20px;
                        textarea {
                            width: 100%;
                            height: 50px;
                            padding: 6px 12px;
                            background-color: hsla(0, 0%, 71%, .1);
                            background-image: none;
                            border: 1px solid $border-color;
                            border-radius: 4px;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                            resize: none;
                        }
                        input {
                            float: right;
                            width: 78px;
                            margin: 10px 0;
                            padding: 8px 18px;
                            font-size: 16px;
                            border: none;
                            border-radius: 20px;
                            color: #fff;
                            background-color: #42c02e;
                            cursor: pointer;
                            outline: none;
                            display: block;
                        }
                    }
                    .hint {
                        padding-top: 3px;
                        font-size: 13px;
                        color: #969696;
                    }
                }
                @media screen and (max-width: 1200px) {
                    .chat_top,.message_show,
                    .write_message {
                        width: 639px;
                    }
                }
                @media screen and (max-width: 992px) {
                    .chat_top,.message_show,
                    .write_message {
                        width: 518px;
                    }
                }
                @media screen and (max-width:768px) and (min-width:450px) {
                    .chat_top,.message_show,
                    .write_message {
                        width: 269px;
                    }
                }
                @media screen and (max-width: 450px) {
                    .chat_top,.message_show,
                    .write_message {
                        width: 199px;
                    }
                }
            }
            #requests {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .requests_list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        .all_request {
                            display: block;
                            .avatar {
                                @include avatar;
                                width: 50px;
                                height: 50px;
                                border: 1px solid $border-color;
                                border-radius: 10%;
                                line-height: 48px;
                                text-align: center;
                                vertical-align: middle;
                                i {
                                    font-size: 30px;
                                    color: $color-watermelon;
                                }
                            }
                            .name {
                                max-width: 500px;
                                font-size: 15px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        .request_item {
                            font-size: 13px;
                            .avatar {
                                @include avatar;
                                width: 50px;
                                height: 50px;
                                img {
                                    border-radius: 10%;
                                }
                            }
                            .name {
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #likes {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .likes_list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        .like_item {
                            line-height: 20px;
                            font-size: 15px;
                            margin-top: 0;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: #2B89CA;
                                }
                            }
                            .info {
                                font-size: 11px;
                                padding-top: 0;
                                padding-left: 48px;
                                color: #969696;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #follows {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .follows_list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        .follow_item {
                            font-size: 15px;
                            line-height: 20px;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .follow {
                                @include button;
                                float: right;
                                margin: 0 0 0 10px;
                                border: 1px solid hsla(0, 0%, 59%, .6);
                                color: #8c8c8c;
                                background-color: inherit;
                                &:hover {
                                    border: 1px solid hsla(0, 0%, 50%, .6);
                                    background-color: hsla(0, 0%, 60%, .1);
                                }
                                @media screen and (max-width: 768px) {
                                    width: 90px;
                                }
                                @media screen and (max-width: 450px) {
                                    width: 80px;
                                    padding: 8px 0;
                                }
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                            }
                            .info {
                                font-size: 11px;
                                padding: 0 0 0 48px;
                                color: #969696;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #tip {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .tip_list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 20px;
                        border-top: 1px solid $border-color-hr;
                        .tip_item {
                            font-size: 15px;
                            line-height: 20px;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: #2B89CA;
                                }
                            }
                            .info {
                                font-size: 11px;
                                padding: 0 0 0 48px;
                                color: #969696;
                            }
                        }
                        div {
                            .follow {
                                @include button;
                                width: 70px;
                                float: right;
                                border: 1px solid $border-color-follow;
                                color: #42c02e;
                                background-color: inherit;
                                margin: 0;
                                font-size: 12px;
                                cursor: pointer;
                                padding: 5px;
                                &:hover {
                                    background-color: #F5F5F5;
                                }
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
            #others {
                .menu {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 700;
                }
                .unMessage {
                    margin-top: 150px;
                    text-align: center;
                    color: #969696;
                    font-size: 14px;
                    p {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                    }
                    span {
                        font-size: 100px;
                        color: #969696;
                    }
                }
            }
        }
    }
}