// 关注页
#notifications {
    .notifications_wrp {
        .aside {
            @include spacing (81px 0 0, 0 0 30px);
            position: fixed;
            top: 0;
            bottom: 0;
            overflow: auto;
            width: 330px;
            @media screen and (max-width: 992px) {
                width: 200px;
            }
            @media screen and (max-width: 768px) {
                width: 180px;
            }
            @media screen and (max-width: 464px) {
                width: 90px;
            }
            ul {
                li {
                    a {
                        padding: 10px 25px;
                        display: inline-block;
                        line-height: 30px;
                        width: 100%;
                        i {
                            @include font (24px, $color-theme);
                            margin-right: 15px;
                            vertical-align: middle;
                        }
                        span {
                            font-size: 15px;
                            vertical-align: middle;
                        }
                        .badge {
                            @include badge;
                            float: right;
                            margin-top: 6px;
                        }
                        &:hover {
                            background-color: $color-white-silver;
                        }
                        @media screen and (max-width: 450px) {
                            padding: 10px 15px;
                            i {
                                margin-right: 3px;
                            }
                            .name {
                                display: none;
                            }
                        }
                    }
                    .router-link-active {
                        background-color: #f0f0f0;
                        border-radius: 4px;
                    }
                }
            }
        }
        .main {
            overflow: auto;
            margin-left: 360px;
            @media screen and (max-width: 992px) {
                margin-left: 230px;
            }
            @media screen and (max-width: 768px) {
                margin-left: 210px;
            }
            @media screen and (max-width: 464px) {
                margin-left: 105px;
            } // 评论列表
            #comments {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .comment_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        font-size: 15px;
                        .comment_head {
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                line-height: 1.7;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: $color-blue;
                                }
                            }
                            .info {
                                @include font (12px, $color-gray);
                                padding-left: 48px;
                            }
                        }
                        p {
                            margin: 10px 0 0;
                            line-height: 1.7;
                        }
                        .tool_group {
                            margin-top: 10px;
                            a {
                                @include font (13px, $color-gray);
                                margin-right: 30px;
                                i {
                                    vertical-align: middle;
                                    margin-right: 5px;
                                }
                                span {
                                    vertical-align: middle;
                                }
                                &:hover {
                                    color: $color-black;
                                }
                            }
                            .report {
                                display: none;
                                float: right;
                            }
                            &:hover {
                                .report {
                                    display: inline-block;
                                }
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 私信列表
            #chats {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .chats_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        font-size: 15px;
                        .time {
                            font-size: 13px;
                            float: right;
                            .dropdown-toggle {
                                color: $color-gray;
                                i {
                                    font-size: 14px;
                                    margin-left: 3px;
                                }
                            }
                            .dropdown-menu {
                                left: auto;
                                top: auto;
                                right: 0;
                                li {
                                    padding: 0;
                                    border: none;
                                    font-size: 14px;
                                    a {
                                        i {
                                            font-size: 14px;
                                            margin-right: 8px;
                                            vertical-align: middle;
                                        }
                                        span {
                                            vertical-align: middle;
                                        }
                                    }
                                }
                            }
                        }
                        .open {
                            .dropdown-toggle {
                                color: $color-black;
                            }
                        }
                        .chats_item {
                            font-size: 14px;
                            .avatar {
                                @include avatar;
                                @include proportion (50px, 50px);
                                position: relative;
                                float: left;
                                vertical-align: middle;
                                .badge {
                                    @include badge;
                                    position: absolute;
                                    top: 2px;
                                    right: -5px;
                                }
                            }
                            .title {
                                padding: 4px 0 0 60px;
                            }
                            a {
                                .info {
                                    @include font (12px, $color-gray);
                                    padding: 4px 0 4px 60px;
                                    p {
                                        @include spacing;
                                        @include line_number (2);
                                    }
                                }
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 聊天
            #chat_messages {
                .chat_top {
                    @include spacing (0 0 20px 0, 0 0 10px 0);
                    position: fixed;
                    z-index: 1;
                    width: 839px;
                    min-height: 35px;
                    text-align: center;
                    background-color: $color-white;
                    border-bottom: 1px solid $color-white-silver;
                    &::before {
                        content: "";
                        @include proportion (100%, 81px);
                        position: absolute;
                        top: -81px;
                        left: 0;
                        background-color: $color-white;
                    }
                    .back_list {
                        @include font (14px, $color-gray);
                        float: left;
                        i {
                            font-size: inherit;
                        }
                        &:hover {
                            color: $color-black;
                        }
                    }
                    b {
                        font-size: 14px;
                    }
                    .dropdown {
                        float: right;
                        .dropdown-menu {
                            right: 0;
                            top: auto;
                            left: auto;
                            li {
                                a {
                                    i {
                                        font-size: 14px;
                                        margin-right: 8px;
                                        vertical-align: middle;
                                    }
                                    span {
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                    }
                }
                .message_show {
                    padding-top: 50px;
                    .load_more {
                        @include load_more;
                        @include font (14px, $color-blue);
                        margin: 0;
                        background-color: inherit;
                    }
                    .message_list {
                        padding: 10px 0 110px;
                        .message_l,
                        .message_r {
                            @include spacing (0 0 15px 0, 20px);
                            border: none;
                            div {
                                &::before,
                                &::after {
                                    content: '';
                                    position: absolute;
                                    display: inline-block;
                                    top: 0;
                                }
                                &::after {
                                    top: 1px;
                                }
                            }
                            @media screen and (max-width: 450px) {
                                padding: 20px 0;
                            }
                        }
                        div {
                            position: relative;
                            display: block;
                            margin: 4px 56px 0;
                            min-height: 39px;
                            .content {
                                position: relative;
                                padding: 8px 12px;
                                font-size: 14px;
                                border: 1px solid;
                                word-break: break-word!important;
                                line-height: 1.5;
                                display: table-cell;
                            }
                        }
                        .time {
                            @include font (12px, #d9d9d9);
                            margin-top: 2px;
                        }
                        .message_l {
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            div {
                                .content {
                                    min-height: 39px;
                                    background-color: #e7f1fc;
                                    border-color: #bad0e9;
                                    border-radius: 0 4px 4px 4px;
                                }
                                &::before,
                                &::after {
                                    left: -9px;
                                    border-left: 9px solid transparent;
                                    border-top: 16px solid #bad0e9;
                                }
                                &::after {
                                    left: -7px;
                                    border-top: 16px solid #e7f1fc;
                                }
                            }
                            .time {
                                float: left;
                                margin-left: 56px;
                            }
                        }
                        .message_r {
                            .avatar {
                                @include avatar;
                                float: right;
                            }
                            div {
                                .content {
                                    float: right;
                                    min-height: 39px;
                                    background-color: #eee;
                                    border-color: #d9d9d9;
                                    border-radius: 4px 0 4px 4px;
                                }
                                &::before,
                                &::after {
                                    right: -9px;
                                    border-right: 9px solid transparent;
                                    border-top: 16px solid #d9d9d9;
                                }
                                &::after {
                                    right: -7px;
                                    border-top: 16px solid #eee;
                                }
                            }
                            .time {
                                float: right;
                                margin-right: 56px;
                            }
                        }
                    }
                }
                .write_message {
                    position: fixed;
                    width: 839px;
                    bottom: 0;
                    background-color: $color-white;
                    form {
                        width: 100%;
                        margin-bottom: 20px;
                        textarea {
                            @include proportion (100%, 50px);
                            @include border (4px, 1px solid $color-gray-light);
                            padding: 6px 12px;
                            background-color: hsla(0, 0%, 71%, .1);
                            background-image: none;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                            resize: none;
                            display: inline-block;
                            vertical-align: top;
                        }
                        input {
                            @include spacing (10px 0, 8px 18px);
                            @include font (16px, $color-white);
                            @include border (20px, none);
                            float: right;
                            width: 78px;
                            background-color: $color-green;
                            cursor: pointer;
                            outline: none;
                            display: block;
                        }
                    }
                    .hint {
                        @include font (13px, $color-gray);
                        padding-top: 3px;
                    }
                }
                @media screen and (max-width: 1200px) {
                    .chat_top,
                    .message_show,
                    .write_message {
                        width: 639px;
                    }
                }
                @media screen and (max-width: 992px) {
                    .chat_top,
                    .message_show,
                    .write_message {
                        width: 516px;
                    }
                }
                @media screen and (max-width:768px) and (min-width:450px) {
                    .chat_top,
                    .message_show,
                    .write_message {
                        width: 269px;
                    }
                }
                @media screen and (max-width: 450px) {
                    .chat_top,
                    .message_show,
                    .write_message {
                        width: 199px;
                    }
                }
            } // 投稿请求列表
            #requests {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .requests_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        a {
                            display: block;
                            .avatar_collection {
                                @include avatar (50px, 50px);
                            }
                            .all_push {
                                @include border (10%, 1px solid $color-gray-light);
                                line-height: 48px;
                                text-align: center;
                                vertical-align: middle;
                                i {
                                    @include font (30px, $color-theme);
                                }
                            }
                            .name {
                                width: 70%;
                                max-width: 500px;
                                font-size: 15px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                                span {
                                    @include line_number (1);
                                    @include font (12px, $color-gray);
                                }
                                @media screen and (max-width: 506px) {
                                    width: 50%;
                                }
                            }
                        }
                        .request_item {
                            .avatar_collection {
                                position: relative;
                                img {
                                    border-radius: 10%;
                                }
                                .badge {
                                    @include badge;
                                    position: absolute;
                                    top: -5px;
                                    right: -5px;
                                }
                            }
                            .name {
                                font-size: 13px;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 全部投稿请求
            #pending_submissions {
                .push_top {
                    @include spacing (0 0 20px 0, 0 0 10px 0);
                    position: fixed;
                    z-index: 1;
                    width: 840px;
                    min-height: 35px;
                    text-align: center;
                    background-color: $color-white;
                    border-bottom: 1px solid $color-white-silver;
                    &::before {
                        content: "";
                        @include proportion (100%, 81px);
                        position: absolute;
                        top: -81px;
                        left: 0;
                        background-color: $color-white;
                    }
                    .back_list {
                        @include font (14px, $color-gray);
                        float: left;
                        i {
                            font-size: inherit;
                        }
                        &:hover {
                            color: $color-black;
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        width: 640px;
                    }
                    @media screen and (max-width: 992px) {
                        width: 517px;
                    }
                    @media screen and (max-width:768px) and (min-width:450px) {
                        width: 270px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 200px;
                    }
                }
                .article_list {
                    padding-top: 50px;
                    width: 840px;
                    .article_item {
                        @include article_item;
                    }
                    @media screen and (max-width: 1200px) {
                        width: 640px;
                    }
                    @media screen and (max-width: 992px) {
                        width: 517px;
                    }
                    @media screen and (max-width:768px) and (min-width:450px) {
                        width: 270px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 200px;
                    }
                }
            } // 专题投稿请求
            #submissions {
                .push_top {
                    @include spacing (0 0 20px 0, 0 0 10px 0);
                    @include font (14px, $color-gray);
                    position: fixed;
                    z-index: 1;
                    width: 840px;
                    min-height: 35px;
                    text-align: center;
                    background-color: $color-white;
                    border-bottom: 1px solid $color-white-silver;
                    &::before {
                        content: "";
                        @include proportion (100%, 81px);
                        position: absolute;
                        top: -81px;
                        left: 0;
                        background-color: $color-white;
                    }
                    .back_list {
                        color: $color-gray;
                        float: left;
                        i {
                            font-size: inherit;
                        }
                        &:hover {
                            color: $color-black;
                        }
                    }
                    b {
                        font-size: 14px;
                    }
                    .more_option {
                        float: right;
                    }
                    @media screen and (max-width: 1200px) {
                        width: 640px;
                    }
                    @media screen and (max-width: 992px) {
                        width: 517px;
                    }
                    @media screen and (max-width:768px) and (min-width:450px) {
                        width: 270px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 200px;
                    }
                }
                .article_list {
                    padding-top: 50px;
                    width: 840px;
                    .article_item {
                        @include article_item;
                    }
                    @media screen and (max-width: 1200px) {
                        width: 640px;
                    }
                    @media screen and (max-width: 992px) {
                        width: 517px;
                    }
                    @media screen and (max-width:768px) and (min-width:450px) {
                        width: 270px;
                    }
                    @media screen and (max-width: 450px) {
                        width: 200px;
                    }
                }
            } // 喜欢和赞列表
            #likes {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .likes_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        .like_item {
                            line-height: 1.7;
                            font-size: 15px;
                            margin-top: 0;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: $color-blue;
                                }
                            }
                            .info {
                                @include font (11px, $color-gray);
                                padding: 0 0 0 48px;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 关注列表
            #follows {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .follows_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        .follow_item {
                            font-size: 15px;
                            line-height: 20px;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .following {
                                @include following_button;
                                margin: 6px 0 0 6px;
                                color: $color-gray;
                                i {
                                    font-weight: 700;
                                }
                            }
                            .follow {
                                @include button (100px, 0, $color-green, right);
                                margin: 6px 0 0 6px;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                            }
                            .info {
                                @include font (11px, $color-gray);
                                padding: 0 0 0 48px;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 赞赏列表
            #tip {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                }
                .tip_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        .tip_item {
                            font-size: 15px;
                            line-height: 1.7;
                            .avatar {
                                @include avatar;
                                float: left;
                            }
                            .title {
                                padding: 2px 0 0 48px;
                                display: block;
                                span {
                                    margin: 0 5px;
                                }
                                .headline {
                                    color: $color-blue;
                                }
                            }
                            .info {
                                @include font (11px, $color-gray);
                                padding: 0 0 0 48px;
                            }
                        }
                        div {
                            .follow {
                                @include news_button;
                                @include spacing (0, 5px);
                                width: 70px;
                                font-size: 12px;
                                cursor: pointer;
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            } // 其他消息列表
            #others {
                .menu {
                    @include font (14px, $color-black, 700);
                    margin-bottom: 20px;
                } // 没有消息
                .unMessage {
                    @include font (14px, $color-gray);
                    margin-top: 150px;
                    text-align: center;
                    span {
                        @include font (100px, $color-gray);
                    }
                } // 有消息
                .others_list {
                    li {
                        padding: 20px;
                        border-top: 1px solid $color-white-silver;
                        .like_item {
                            line-height: 1.7;
                            font-size: 15px;
                            .info {
                                display: block;
                                i {
                                    margin-right: 5px;
                                    color: $color-theme;
                                    font-size: 20px;
                                }
                                a {
                                    color: $color-blue;
                                    margin: 0 5px;
                                }
                            }
                            .time {
                                @include font (11px, $color-gray);
                            }
                        }
                        @media screen and (max-width: 450px) {
                            padding: 20px 0;
                        }
                    }
                }
            }
        }
    }
}