//用户页
#user {
    @include aside;
    .essays {
        .main_top {
            @include main_top;
            @media screen and (max-width: 768px) {
                .botm {
                    position: absolute;
                    top: 120px;
                    margin-bottom: 0;
                }
                .follow {
                    right: 40px;
                }
                .contribute {
                    left: 40px;
                }
            }
            @media screen and (min-width: 450px) and (max-width: 768px) {
                padding-bottom: 0;
                .botm {
                    position: static;
                }
            }
        }
        div {
            .trigger_menu {
                @include trigger_menu;
                @media screen and (min-width: 450px) and (max-width: 768px) {
                    li {
                        a {
                            padding: 0 20px;
                        }
                    }
                }
            }
            .tab-content {
                .article {
                    .article_item {
                        @include article_item;
                    }
                }
            }
        }
    }
    .aside {
        font-size: 14px;
        padding-left: 35px;
        .user_dynamic {
            @include spacing (0 0 16px 0, 0 0 10px 0);
            border-bottom: 1px solid $border-color-hr;
            li {
                @include user_aside_list;
            }
        }
        .title {
            color: $color-gray;
            margin-bottom: 10px;
        }
        .description {
            @include user_aside_list;
            @include spacing (0 0 17px 0, 0 0 16px 0);
            border-bottom: 1px solid $border-color-hr;
        }
        div {
            .list {
                @include spacing (0 0 17px 0, 0 0 16px 0);
                border-bottom: 1px solid $border-color-hr;
                li {
                    @include user_aside_list;
                    a {
                        img {
                            @include chartholder (32px, 32px);
                        }
                        i {
                            color: $color-gray;
                        }
                    }
                }
            }
        }
        .user_action {
            padding-bottom: 20px;
            color: $color-gray;
            a {
                @include font (13px, $color-gray);
                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}