//我的钱包页
#wallet {
    .row {
        margin: 0;
        .top {
            margin: 10px 0 40px 0;
            .user {
                padding: 20px 0 20px 0;
                .avatar {
                    @include avatar (80px, 80px, none, 15px);
                    position: absolute;
                }
                .info {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 15px 0 10px 95px;
                    .name {
                        @include font (21px, $color-black, 700);
                    }
                    .mobile_bind {
                        padding-top: 5px;
                        a {
                            color: $color-blue;
                        }
                    }
                }
            }
            .middle {
                padding: 10px 7%;
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                .account_money {
                    @include font (16px, $color-gray);
                    margin-right: 20px;
                    display: inline-block;
                }
                .money_main {
                    font-size: 28px;
                }
                .money_sub {
                    font-size: 18px;
                }
                .action {
                    margin-top: 20px;
                    .recharge {
                        @include button (80px);
                        @include spacing (0 9% 2px 0, 6px 0);
                        display: inline-block;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .withdrawals {
                        @include button (80px, 1px solid $border-color-follow, inherit);
                        color: $color-green;
                        @include spacing (0 8% 2px 0, 6px 0);
                        display: inline-block;
                        pointer-events: none;
                        &:hover {
                            background-color: inherit;
                        }
                    }
                    .warn {
                        @include font (13px, $color-gray);
                        display: inline-block;
                    }
                }
            }
            .meta {
                padding: 20px 3%;
                font-size: 13px;
                div {
                    color: $color-gray;
                }
                a {
                    color: $color-blue;
                    display: block;
                }
            }
        }
        .body {
            @include border (6px 6px 0 0, 1px solid $border-color);
            margin-bottom: 20px;
            li {
                border-bottom: 1px solid $border-color;
                &:last-child {
                    border-bottom: none;
                }
            }
            div {
                display: inline-block;
                vertical-align: middle;
                padding: 0 15px;
            }
            .time {
                width: 18%;
            }
            .type {
                width: 12%;
            }
            .details {
                width: 45%;
            }
            .amount {
                width: 12%;
                word-wrap: break-word;
                word-break: break-all;
            }
            .remark {
                width: 10%;
            }
            .title {
                padding: 25px 20px;
                font-size: 14px;
                div {
                    border-right: 1px dashed $border-color;
                    &:last-child {
                        border-right: none;
                    }
                }
            }
            .note {
                padding: 10px 20px;
                font-size: 12px;
                .details {
                    a {
                        color: $color-blue;
                    }
                }
                .reduce {
                    color: $color-watermelon;
                }
                .plus {
                    color: $color-green;
                }
                .remark {
                    color: $color-gray;
                }
                &:nth-of-type(even) {
                    background-color: $background-color-aston;
                }
            }
        }
        @media screen and (max-width: 768px) {
            .top {
                .middle {
                    border-bottom: 1px solid $border-color;
                    border-top: 1px solid $border-color;
                    border-left: none;
                    border-right: none;
                }
            }
            .body {
                div {
                    padding: 0 5px;
                }
                .time {
                    width: 14%;
                    padding-left: 0;
                }
                .type {
                    width: 15%;
                }
                .details {
                    width: 28%;
                }
                .amount {
                    width: 20%;
                }
                .remark {
                    width: 16%;
                    padding-right: 0;
                }
                .title,
                .note {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}