// 文集页
#collection {
    .essays {
        .main_top {
            @include main_top;
            @media screen and (max-width: 768px) {
                padding-bottom: 0;
            }
        }
        div {
            .trigger_menu {
                @include trigger_menu;
                @media screen and (min-width: 470px) and (max-width: 768px) {
                    li {
                        a {
                            padding: 0 20px;
                        }
                    }
                }
                @media screen and (max-width: 470px) {
                    li {
                        padding: 0;
                    }
                }
            }
            .tab-content {
                .article_list {
                    .article_item {
                        @include article_item;
                    }
                }
            }
        }
    }
    .aside {
        padding-left: 35px;
        .share {
            @include share;
        }
        .intendant {
            div {
                @include supporter;
            }
        }
    }
}