// 用户页/用户喜欢文章/关注专题文集页
#user {
    @include aside;
    .essays {
        .main_top {
            @include main_top;
            @media screen and (min-width: 370px) and (max-width: 768px) {
                padding-bottom: 0;
                .botm {
                    position: static;
                }
            }
            @media screen and (max-width: 370px) {
                .botm {
                    position: absolute;
                    top: 105px;
                    margin-bottom: 0;
                }
                .follow {
                    right: 40px;
                }
                .contribute {
                    left: 40px;
                }
            }
        }
        div {
            .trigger_menu {
                @include trigger_menu;
                @media screen and (min-width: 470px) and (max-width: 768px) {
                    li {
                        a {
                            padding: 0 20px;
                        }
                    }
                }
                @media screen and (max-width: 470px) {
                    li {
                        padding: 0;
                    }
                }
            }
            .tab-content {
                // 关注的专题和文集
                .user_list {
                    li {
                        @include spacing (0 0 20px 0, 0 0 20px 0);
                        border-bottom: 1px solid $color-white-silver;
                        div {
                            .avatar {
                                @include avatar (55px,55px);
                                vertical-align: middle;
                            }
                            .avatar_collection {
                                img {
                                    border-radius: 10%;
                                }
                            }
                            .info {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: normal;
                                min-height: 20px;
                                margin-left: 5px;
                                @media screen and (max-width: 1080px) {
                                    max-width: 315px;
                                }
                                @media screen and (max-width: 440px) {
                                    max-width: 112px;
                                }
                                .name {
                                    @include font (15px, $color-black, 700);
                                    i {
                                        @include font (inherit);
                                        vertical-align: middle;
                                    }
                                    .icon-nvsheng1 {
                                        color: $color-theme;
                                    }
                                    .icon-nansheng1 {
                                        color: $color-blue;
                                    }
                                }
                                .meta {
                                    @include line_number (1);
                                    padding-top: 2px;
                                    color: $color-gray;
                                    a {
                                        color: $color-blue;
                                        margin-right: 3px;
                                    }
                                    span {
                                        @include spacing (0 10px 0 0,0 10px 0 0);
                                        border-right: 1px solid $color-gray;
                                        &:last-child {
                                            border: none;
                                        }
                                    }
                                }
                            }
                            .follow {
                                @include button;
                                margin: 6px 0 0 6px;
                                float: right;
                            }
                            .following {
                                @include following_button;
                                margin: 7px 0 0 6px;
                                color: $color-gray;
                                vertical-align: middle;
                                i {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                } // 喜欢的文章
                .article_list {
                    .article_item {
                        @include article_item;
                    }
                }
            }
        }
    }
    .aside {
        font-size: 14px;
        padding-left: 35px;
        .user_dynamic {
            @include spacing (0 0 16px 0, 0 0 10px 0);
            border-bottom: 1px solid $color-white-silver;
            li {
                @include user_aside_list;
            }
        }
        .title {
            color: $color-gray;
            margin-bottom: 10px;
        }
        .description {
            @include user_aside_list;
            @include spacing (0 0 17px 0, 0 0 16px 0);
            border-bottom: 1px solid $color-white-silver;
        }
        div {
            .list {
                @include spacing (0 0 17px 0, 0 0 16px 0);
                border-bottom: 1px solid $color-white-silver;
                li {
                    @include user_aside_list;
                    a {
                        img {
                            @include proportion (32px, 32px);
                        }
                        i {
                            color: $color-gray;
                        }
                    }
                }
            }
        }
        .user_action {
            padding-bottom: 20px;
            color: $color-gray;
            a {
                @include font (13px, $color-gray);
                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}