// 登录、注册页
#sign_in,
#sign_up {
    font-size: 14px;
    background-color: $color-white-milk;
    text-align: center;
    height: 100vh;
    .logo {
        position: absolute;
        margin-left: 50px;
        top: 50px;
        a {
            font-size: 45px;
            .love {
                color: $color-red-watermelon;
            }
            .you {
                color: $color-blue;
            }
            .city {
                color: #ff9d23;
            }
        }
    }
    .main {
        @include spacing (60px auto 0, 50px 50px 30px);
        display: inline-block;
        width: 45%;
        min-width: 320px;
        max-width: 400px;
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .1);
        vertical-align: middle;
        .title {
            @include spacing (0 0 50px 0, 10px);
            .normal_title {
                @include font (inherit, $color-gray, 400);
                a {
                    color: $color-gray;
                    padding: 10px;
                }
                .active {
                    @include font (inherit, $color-red-watermelon, 700);
                    border-bottom: 2px solid $color-red-watermelon;
                }
            }
        }
        .sign_in_contauner {
            form {
                margin-bottom: 30px;
                .input_prepend {
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    input {
                        @include size (100%, 50px);
                        @include spacing (0, 4px 12px 4px 35px);
                        @include border (0 0 4px 4px, 1px solid #c8c8c8);
                        background-color: hsla(0, 0%, 71%, .1);
                        vertical-align: middle;
                    }
                    i {
                        position: absolute;
                        top: 9px;
                        left: 5px;
                        width: 30px;
                        font-size: 18px;
                        color: $color-gray;
                    }
                }
                .restyle {
                    margin-bottom: 0;
                    input {
                        border-bottom: none;
                        border-radius: 4px 4px 0 0;
                    }
                }
                .no_radius {
                    input {
                        border-radius: 0;
                    }
                }
                .captcha {
                    .geetest_wind {
                        position: relative;
                        width: 100%;
                        height: 44px;
                        .geetest_radar_btn {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            min-width: 160px;
                            background-image: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            cursor: pointer;
                            &:hover {
                                background-image: linear-gradient(0deg, #ffffff 0%, #f3f3f3 100%);
                                .geetest_radar {
                                    .geetest_sector {
                                        animation: scaleOne .5s linear both infinite;
                                    }
                                    .geetest_ring {
                                        animation: scaleTwo .5s linear both infinite .5s;
                                    }
                                }
                            }
                            .geetest_radar {
                                position: absolute;
                                margin: 6px;
                                width: 30px;
                                height: 30px;
                                z-index: 1;
                                .geetest_sector,
                                .geetest_ring {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    box-shadow: inset 0 0 0 1px #2488ff;
                                    background-color: #c5daf9;
                                    border-radius: 50%;
                                }
                                .geetest_small {
                                    position: absolute;
                                    width: 10px;
                                    height: 10px;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    margin: auto;
                                    background-color: #2488ff;
                                    border-radius: 50%;
                                }
                            }
                            .geetest_radar_tip {
                                position: absolute;
                                top: 0;
                                left: 0;
                                box-sizing: border-box;
                                padding-left: 46px;
                                height: 42px;
                                width: 100%;
                                line-height: 42px;
                                font-size: 14px;
                                color: #717171;
                                white-space: nowrap;
                                text-align: left;
                                transform: translate3d(0, 0, 0);
                            }
                            .geetest_logo {
                                position: absolute;
                                right: 11px;
                                width: 22px;
                                height: 22px;
                                top: 11px;
                                color: #bbb6ce;
                                text-align: center;
                                line-height: 22px;
                                i {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
                .remember_btn {
                    float: left;
                    margin: 15px 0;
                    span {
                        font-size: 15px;
                        color: $color-gray;
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                }
                .forget_btn {
                    float: right;
                    position: relative;
                    margin: 15px 0;
                    a {
                        color: $color-gray;
                        &:hover {
                            color: $color-black;
                        }
                    }
                    .dropdown-menu {
                        top: 20px;
                        left: auto;
                        right: 0;
                        a {
                            color: $color-black;
                        }
                    }
                }
                .sign_up_msg {
                    @include spacing (10px 0,0);
                    font-size: 12px;
                    color: $color-gray;
                    line-height: 20px;
                    text-align: center;
                    a {
                        color: $color-blue;
                    }
                }
            }
            .more_sign {
                margin-top: 30px;
                h6 {
                    position: relative;
                    margin: 0 0 20px;
                    color: $color-gray;
                    &::before,
                    &::after {
                        content: "";
                        border-top: 1px solid #b5b5b5;
                        display: block;
                        position: absolute;
                        width: 60px;
                        top: 5px;
                    }
                    &::before {
                        left: 30px;
                    }
                    &::after {
                        right: 30px;
                    }
                }
                ul {
                    margin-bottom: 30px;
                    li {
                        margin: 0 3px;
                        display: inline-block;
                        a {
                            @include size (50px, 50px);
                            display: block;
                            border-radius: 50%;
                            line-height: 50px;
                            background-color: #c8c8c8;
                            i {
                                color: $color-white;
                                font-size: 24px;
                            }
                        }
                        .weibo {
                            background-color: #e05244;
                        }
                        .weixin {
                            background-color: #00bb29;
                        }
                        .qq {
                            background-color: #498ad5;
                        }
                        .git {
                            background-color: #333333;
                        }
                    }
                }
            }
        }
    }
    &::before {
        content: "";
        display: inline-block;
        height: 85%;
        vertical-align: middle;
    }
    @media screen and (max-width: 768px) {
        &::before {
            display: none;
        }
        .logo {
            display: none;
        }
        .main {
            width: 100%;
            height: 100%;
            max-width: 100%;
            margin: 0;
            padding: 10% 5%;
        }
    }
}