//专题页
#category {
    @include aside;
    // 左侧
    .main {
        .main_top {
            @media screen and (max-width: 520px) {
                padding-bottom: 30px;
                .btn_base {
                    position: absolute;
                    top: 70px;
                    margin-bottom: 0;
                }
                .btn_follow,.btn_followed {
                    right: 40px;
                }
                .btn_hollow {
                    left: 40px;
                }
            }
        }
        @media screen and (max-width: 400px) {
            .trigger_menu {
                li {
                    a {
                        padding: 0 10px;
                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // 右侧
    .aside {
        padding-left: 35px;
        font-size: 14px;
        // 标题
        .litter_title {
            margin-bottom: 10px;
        }
    }
}

// 新建专题页
#category_new {
    .row {
        margin: 0;
        h3 {
            @include font (21px, $color-black, 700);
            margin: 10px 0 20px;
        }
        table {
            width: 100%;
            thead {
                tr {
                    td {
                        padding: 20px 0;
                    }
                    .setting_head {
                        width: 200px;
                        @media screen and (max-width: 768px) {
                            width: 140px;
                        }
                    }
                }
            }
            .base {
                tr {
                    td {
                        padding: 20px 0;
                        .form-control {
                            padding: 9px 15px;
                            font-size: 15px;
                            background-color: hsla(0, 0%, 71%, .1);
                            box-shadow: none;
                            &:focus {
                                box-shadow: none;
                                border-color: #ccd0d2;
                            }
                        }
                        .avatar_collection {
                            @include avatar (100px, 100px);
                            img {
                                border-radius: 10%;
                            }
                        }
                        .btn_hollow {
                            position: relative;
                            input {
                                position: absolute;
                                display: block!important;
                                width: 166px;
                                height: 44px;
                                top: -1px;
                                left: 1px;
                                opacity: 0;
                            }
                        }
                        textarea {
                            height: 100px;
                            resize: none;
                        }
                        .user_add {
                            display: block;
                            .dropdown-menu {
                                top: auto;
                                left: auto;
                                min-height: 100px;
                                border-color: hsla(0, 0%, 71%, .2);
                                margin: 0;
                            }
                        }
                        div {
                            display: inline-block;
                            input[type="radio"] {
                                width: 13px;
                            }
                            span {
                                margin: 0 20px 0 6px;
                                font-size: 15px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .setting_title {
                        // @include font (15px, $color-gray);
                    }
                }
            }
        }
        .btn_success {
            // @include button;
            margin: 20px 0 50px 0;
            font-size: 16px;
        }
    }
}