// 首页
#index {
    @include aside;
    margin-top: -30px; // 左侧
    .main {
        // 专题分类
        .classification {
            margin-bottom: 10px;
        } // 分割线
        .split_line {
            border-bottom: 1px solid $color-white-silver;
            margin: -5px 0 15px;
        }
    } // 右侧
    .aside {
        padding-left: 35px;
        .video_list {
            padding-top: 15px;
            .article_item {
                border: none;
                padding: 0;
                .headline {
                    font-size: 13px;
                    span {
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}