// 首页
@import "v2/page/index";
// 专题页
@import "v2/page/category";
// 推荐更多专题页
@import "v2/page/categories";
// 推荐更多作者页
@import "v2/page/recommendations_users";
// 文集页
@import "v2/page/collection";
// 详情页
@import "v2/page/detail";
// 用户页
@import "v2/page/user";
// 个人页
@import "v2/page/home";
// 钱包页
@import "v2/page/wallet";
// 关注页
@import "v2/page/follow";
// 消息页
@import "v2/page/notification";
// 登录注册页
@import "v2/page/sign";
// 收藏的文章
@import "v2/page/bookmark";
// 设置页
@import "v2/page/setting";
// 热门榜
@import "v2/page/hot_articles";