// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #32A6F9;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// media width
$col-xl-width: 1200px;
$col-lg-width: 992px;
$col-md-width: 768px;
$col-sm-width: 576px;

// theme #FE7705
$theme-color: #ff5c38;
$theme-blue: #29b6f6;

