#app {
	padding-top: 81px;
	@media screen and(max-width:768px) {
		padding-top: 61px;
	}
	&.black {
		padding-top: 51px;
		& > div:first-child {
			border-color: $dark-color3;
			.navbar {
				background-color: $dark-color3;
				border-radius: 0;
				.navbar-nav {
					& > li {
						& > a {
							color: #fff;
						}
						&:hover {
							background-color: $dark-color3;
							& > a {
								color: $theme-color;
							}
						}
					}
				}
			}
		}
	}
}
