.left-aside {
	width: 950px;
	margin: 0 auto;
	transition: all 0.3s linear;
	.aside {
		position: fixed;
		width: 280px;
		top: 0;
		bottom: 0;
		margin: 81px 0 0;
		padding: 0 0 30px;
		overflow: auto;
	}
	.main {
		margin-left: 300px;
		.menu {
			margin-bottom: 20px;
			font-size: 14px;
			font-weight: 700;
		}
		.write-message,
		.chat-top,
		.push-top {
			width: 650px;
			transition: all 0.3s linear;
		}
		// 顶部信息
		.chat-top,
		.push-top {
			position: fixed;
			z-index: 1;
			min-height: 35px;
			margin-bottom: 20px;
			padding-bottom: 10px;
			text-align: center;
			background-color: $theme-skin;
			border-bottom: 1px solid $light-color2;
			font-size: 14px;
			&:before {
				content: "";
				position: absolute;
				top: -81px;
				left: 0;
				height: 81px;
				width: 100%;
				background-color: $theme-skin;
			}
			.back-list {
				float: left;
				&:hover {
					color: $dark-color1;
				}
			}
			b {
				a {
					color: $dark-color1;
				}
			}
			.dropdown {
				position: initial;
			}
			.dropdown {
				float: right;
				margin-right: 15px;
				i {
					color: $dark-color1;
				}
			}
			.dropdown-menu {
				right: 15px;
			}
		}
	}
	@media screen and (max-width: 1050px) {
		width: 690px;
		.aside {
			width: 200px;
			li {
				.link {
					padding: 10px 10px !important;
				}
			}
		}
		.main {
			margin-left: 210px;
			.write-message,
			.chat-top,
			.push-top {
				width: 480px;
				b {
					a {
						max-width: 100px;
						display: inline-block;
						vertical-align: top;
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		width: 100%;
		.aside {
			width: 20%;
			margin: 61px 0 0;
			li {
				.link {
					padding: 10px !important;
					.badge {
						right: 10px;
					}
				}
			}
		}
		.main {
			margin-left: 24%;
			.write-message,
			.chat-top,
			.push-top {
				width: 71%;
			}
		}
	}
}
