@import "pages/index";
@import "pages/detail";
@import "pages/categories";
@import "pages/wallet";
@import "pages/notification";
@import "pages/category";
@import "pages/categoryEditor";
@import "pages/signs";
@import "pages/questions";
@import "pages/answer";
@import "pages/searchContent";
@import "pages/apps";
@import "pages/player";

//dashboard 编辑面板
@import "pages/dashboard";
