// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//v1
$mainColor: #ff9d23;
$wxGreen: #42c02e;
$wbRed: #e54438;
$qqBlue: #407fcf;
$mainFontColor: #333;
$mainFontColor2: #717171;
$minorFontColor: #969696;
$borderColorLight: #f0f0f0;
$borderColorDark: #c8c8c8;
$linkColor: #2b89ca;
$manColor: #285da0;
$womanColor: #ea7767;

//v2
// color
$theme-color: #d96a5f;
$weixin-color: #42c02e;
$weibo-color: #e54438;
$qq-color: #407fcf;
$link-color: #2b89ca;
$sky-blue: #00ccff;
$blue-violet: #9966ff;
$thin-violet: #bbb6ce;
$soft-pink: #ff9999;
$hot-pink: #ff6666;
$dark-color1: #252525;
$dark-color2: #515151;
$dark-color3: #303036;
$gray-color1: #717171;
$gray-color2: #969696;
$gray-color23: #a6a6a6;
$gray-color3: #c4c4c4;
$light-color1: #ececec;
$light-color2: #f0f0f0;
$light-color3: #f7f7f7;
$theme-skin: #ffffff;
// size
$font-size-slogan: 20px;
$font-size-title: 18px;
$font-size-article: 16px;
$font-size-tip: 15px;
$font-size-info: 14px;
$font-size-abstract: 13px;
$font-size-detail: 12px;
