// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// 边框颜色：淡灰色
$border-color: #dcdcdc;
// 分割线颜色：银白色
$border-color-hr: #f0f0f0;
// 分类边框颜色：淡红色
$border-color-special: #ea6f5a;
// 关注边框颜色：绿色
$border-color-follow: #42c02e;
// 标签页边框颜色:深灰色
$border-color-trigger_menu: #646464;

// 通用字体颜色：黑色
$color-black: #333;
// 按钮框字体颜色：白色
$color-white: #fff;
// 按钮框字体颜色：绿色
$color-green: #42c02e;
// 专题标签字体颜色：西瓜红
$color-watermelon: #fd5b78;
// 统计数据字体颜色：浅灰色
$color-light: #b4b4b4;
// 标签页字体颜色：灰色
$color-gray: #969696;
// 标签页active字体颜色：深灰色
$color-deep: #646464;
// 突出名字字体颜色：蓝色
$color-blue: #2B89CA;

// 特色背景颜色：西瓜红
$background-color-watermelon: #fd5b78;
// 网站背景颜色：白色
$background-color-white:#fff;
// 按钮背景颜色：奶白色
$background-color-milky:#f7f7f7;
// 按钮背景颜色：绿色
$background-color-green:#42c02e;
// 关注、消息左边active背景颜色：银白色
$background-color-silvery:#f0f0f0;
// 专题、用户详情背景颜色：雅士白色
$background-color-aston:rgba(181, 181, 181, 0.1);

// 字体1`
$font-size-one: 12px;
// 字体2`
$font-size-two: 13px;
// 字体3`
$font-size-three: 14px;
// 字体4`
$font-size-four: 15px;
// 字体5
$font-size-five: 16px;
// 字体6
$font-size-six: 17px;
// 字体7`
$font-size-seven: 18px;
// 字体8
$font-size-eight: 19px;
// 字体9
$font-size-nine: 20px;
// 字体10
$font-size-ten: 24px;