// Fonts
@import "public/fonts/font_2/iconfont";

body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
}

@import "v1/mixins";

@import "v1/head";
@import "v1/foot";

@import "v1/index";
@import "v1/category";
@import "v1/detail";
@import "v1/user";
@import "v1/categories";
@import "v1/home";
@import "v1/wallet";
@import "v1/subscriptions";