@mixin btn ($width, $border, $background-color, $color) {
    width: $width;
    border: $border;
    background-color: $background-color;
    color: $color;
}

// 基础按钮
.btn_base {
    padding: 8px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    line-height: normal;
    border-radius: 40px;
}

// 未关注
.btn_follow {
    @include btn (100px,0,$color-green,$color-white);
    &:hover,&:focus {
        background-color: #3db922;
        color: $color-white;
    }
}

// 已关注
.btn_followed {
    @include btn (100px, 1px solid hsla(0, 0%, 59%, .6), inherit, $color-gray);
    padding: 7px;
    &:hover,&:focus {
        color: $color-gray;
    }
    &.btn_followed {
        &::after {
            content: '已关注';
        }
        i {
            font-size: inherit;
            font-weight: 700;
        }
        .icon-cha {
            display: none;
        }
        .icon-weibiaoti12 {
            display: inline-block;
        }
        &:hover {
            border: 1px solid hsla(0, 0%, 50%, .6);
            background-color: hsla(0, 0%, 60%, .1);
            &::after {
                content: '取消关注';
            }
            .icon-cha {
                display: inline-block;
            }
            .icon-weibiaoti12 {
                display: none;
            }
        }
    }
}

// 发私信、投稿
.btn_hollow {
    @include btn (100px,1px solid $color-green,inherit,$color-green);
    &:hover,&:focus {
        background-color: rgba(59,194,29,.05);
        color: $color-green;
    }
}

// 详情页赞赏支持
.btn_pay {
    @include btn (116px,0,$color-red-watermelon,$color-white);
    &:hover,&:focus {
        background-color: $color-red-watermelon-deep;
        color: $color-white;
    }
}

// 详情页未喜欢
.btn_like_group {
    @include btn (190px, 1px solid $color-red-watermelon, inherit, $color-red-watermelon);
    padding: 13px 0 15px;
    a {
        color: $color-red-watermelon;
        &:hover,&:focus {
            color: $color-red-watermelon;
        }
    }
    .btn_like {
        font-size: 19px;
        display: inline-block;
        a {
            padding-right: 15px;
            i {
                margin-right: 5px;
                font-size: 21px;
                vertical-align: middle;
            }
        }
    }
    .modal_wrap {
        font-size: 18px;
        border-left: 1px solid #ff8ea2;
        display: inline-block;
        a {
            padding-left: 17px;
        }
    }
    &:hover {
        background-color: #fff6f8;
        color: $color-red-watermelon;
    }
}

// 详情页已喜欢
.btn_like_group_active {
    background-color: $color-red-watermelon;
    a {
        color: $color-white;
        &:hover,&:focus {
            color: $color-white;
        }
    }
    &:hover {
        background-color: $color-red-watermelon;
    }
}

// 详情页登录发表评论
.btn_sign {
    @include btn (78px, 0, $color-blue, $color-white);
    margin: 11px 10px 0 0;
    &:hover,&:focus {
        background-color: #156dab;
        color: $color-white;
    }
}

// 头部登录按钮
.btn_register {
    @include btn (70px,1px solid $color-red-watermelon,inherit,$color-red-watermelon);
    padding: 6px;
    &:hover,&:focus {
        background-color: #fff6f8;
        color: $color-red-watermelon;
    }
}

// 写文章
.btn_creation {
    @include btn (100px,0,$color-red-watermelon,$color-white);
    padding: 7px;
    &:hover,&:focus {
        background-color: $color-red-watermelon-deep;
        color: $color-white;
    }
    i {
        font-size: 18px;
        vertical-align: middle;
    }
}

// 推荐作者未关注
.btn_font_follow {
    @include font (13px, $color-green, 400);
    vertical-align: middle;
    i {
        @include font (13px, $color-green, 700);
    }
    &:hover,&:focus {
        color: $color-green;
    }
}

// 推荐作者已关注
.btn_font_following {
    @include font (13px, $color-gray, 400);
    vertical-align: middle;
    i {
        @include font (13px, $color-gray, 700);
    }
    &:hover,&:focus {
        color: $color-gray;
    }
    &.btn_font_following {
        &::after {
            content: '已关注';
        }
        .icon-cha {
            display: none;
        }
        .icon-weibiaoti12 {
            display: inline-block;
        }
        &:hover {
            &::after {
                content: '取消关注';
            }
            .icon-cha {
                display: inline-block;
            }
            .icon-weibiaoti12 {
                display: none;
            }
        }
    }
}

// 消息页接受按钮
.btn_push {
    @include btn (40px,1px solid $color-green,inherit,$color-green);
    padding: 0 2px;
    font-size: 12px;
    &:hover,&:focus {
        background-color: rgba(59,194,29,.05);
        color: $color-green;
    }
}

// 消息页拒绝按钮
.btn_revoke {
    @include btn (40px,1px solid $color-gray-light,inherit,$color-gray-deep);
    padding: 0 2px;
    font-size: 12px;
    &:hover,&:focus {
        background-color: rgba(68,74,66,0.05);
        color: $color-gray-deep;
    }
}

// 消息页移除按钮
.btn_remove {
    @include btn (40px,1px solid $color-red-watermelon,inherit,$color-red-watermelon);
    padding: 0 2px;
    font-size: 12px;
    &:hover,&:focus {
        background-color: #fff6f8;
        color: $color-red-watermelon;
    }
}

// 消息页移除按钮
.btn_font_remove {
    @include font (12px,$color-red-watermelon,400);
    margin-left: 5px;
    &:hover,&:focus {
        color: $color-red-watermelon;
    }
}

// 登录
.btn_sign_in {
    @include btn (100%,0,$color-blue,$color-white);
    &:hover,&:focus {
        background-color: #217dbd;
        color: $color-white;
    }
}

// 注册
.btn_sign_up {
    @include btn (100%,0,$color-green,$color-white);
    &:hover,&:focus {
        background-color: #3db922;
        color: $color-white;
    }
}

// 新的专题、文章
.btn_font_new {
    @include font (13px, $color-green, 400);
    padding-left: 10px;
    &:hover,&:focus {
        color: $color-green;
    }
}

// 详情页编辑文章按钮
.btn_edit {
    @include btn (85px, 1px solid hsla(0, 0%, 59%, .6), inherit, $color-gray);
    padding: 6px;
    &:hover,&:focus {
        border: 1px solid hsla(0, 0%, 50%, .6);
        background-color: hsla(0, 0%, 60%, .1);
        color: $color-gray;
    }
}

// 详情页未关注小按钮
.btn_follow_xs {
    width: 60px;
}

// 钱包页支付按钮
.btn_follow_lg {
    width: 170px;
}

// 详情页已关注小按钮
.btn_followed_xs {
    width: 70px;
}

// 详情页发送评论按钮
.btn_followed_sm {
    width: 80px;
}

// 个人页编辑保存按钮
.btn_hollow_xs {
    width: 65px;
}

// 用户、专题页 发消息、投稿按钮
.btn_hollow_sm {
    width: 90px;
}