// 用户、关注页的信息模块
.main_top {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
    .avatar {
        float: left;
    }
    .btn_base {
        float: right;
        margin: 23px 0 23px 16px;
    }
    .info_meta {
        padding: 5px 0 0 97px;
        .headline {
            font-size: 20px;
        }
        ul {
            li {
                display: inline-block;
                &:last-child {
                    .meta_block {
                        @include spacing(0, 0);
                        border: none;
                    }
                }
            }
        }
    }
}