// 文章模块的统计数量
.meta {
    font-size: 12px;
    line-height: 25px;
    color: $color-gray;
    // 统计数
    .count {
        color: $color-gray-shallow;
        margin-right: 10px;
        &.count_link {
            &:hover {
                color: $color-gray-deep;
            }
        }
    }
    span {
        padding-right: 5px;
    }
    // 类别标签
    .category_tag {
        @include border (3px, 1px solid $color-red-watermelon);
        color: $color-red-watermelon;
        margin-right: 10px;
        padding: 3px;
        vertical-align: middle;
        &:hover {
            color: $color-red-watermelon;
            background-color: $color-white-milk;
        }
    }
    // 原作者标签
    .origin_author {
        display: inline;
        margin-right: 10px;
        a {
            color: $color-blue;
        }
    }
    // 收藏或喜欢标签
    .cancal {
        display: none;
    }
    &:hover {
        .cancal {
            display: inline;
        }
    }
}

// 作者
.author {
    display: inline-block;
    width: 100%;
    .avatar {
        float: left;
    }
}

// 作者信息
.info_meta {
    vertical-align: middle;
    .time {
        font-size: 12px;
        color: $color-gray;
        vertical-align: middle;
    }
    .info_count {
        font-size: 14px;
        color: $color-gray;
        a {
            color: $color-blue;
        }
    }
    .meta_block {
        @include font (12px, $color-gray, normal);
        @include spacing (0 7px 6px 0, 0 7px 0 0);
        border-right: 1px solid $color-white-silver;
        display: inline-block;
        a {
            color: $color-gray;
            display: block;
            i {
                font-size: 8px;
                margin-left: -3px;
            }
        }
        p {
            @include font (15px, $color-black, normal);
            margin-bottom: -3px;
        }
    }
}