// 模态框
@mixin modal {
    background-color: hsla(0, 0%, 100%, .7);
    .modal-dialog {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        .modal-header {
            padding: 20px;
            .modal-title {
                @include font (17px, $color-black, 700);
                .new_note_btn {
                    @include font (13px, $color-green, 400);
                    padding-left: 10px;
                }
            }
            .notice {
                @include font (13px, $color-gray, normal);
            }
            div {
                position: relative;
                margin: 20px 0 0;
                .form-control {
                    @include border (40px, 0);
                    padding: 0 40px 0 20px;
                    background-color: hsla(0, 0%, 71%, .2);
                    box-shadow: none;
                    &:focus {
                        box-shadow: none;
                    }
                }
                .icon-sousuo {
                    @include size (30px, 30px);
                    @include font (20px, $color-gray-deep, normal);
                    position: absolute;
                    top: 4px;
                    right: 4px;
                    text-align: center;
                    border-radius: 50%;
                }
            }
            .search {
                position: absolute;
                top: 15px;
                right: 80px;
                margin: 0;
                input {
                    width: 240px;
                }
                .icon-sousuo {
                    top: 6px;
                    right: 12px;
                }
            }
        }
        .modal-body {
            padding: 0;
            height: 460px;
            ul {
                li {
                    padding: 20px;
                    font-size: 15px;
                    border-bottom: 1px solid #e6e6e6;
                    position: relative;
                    div {
                        display: inline-block;
                        vertical-align: middle;
                        .note_name {
                            display: block;
                        }
                        .action_btn {
                            // @include news_button;
                            @include spacing (-11px 0 0 0, 1px 8px);
                            font-size: 13px;
                            width: 45px;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            border-radius: 20px;
                            line-height: normal;
                            display: none;
                            &:hover {
                                background-color: $color-white-milk;
                            }
                        }
                        .push {
                            display: block;
                        }
                        .revoke {
                            color: $color-gray;
                            border-color: hsla(0, 0%, 59%, .6);
                        }
                        .remove {
                            color: $color-red-watermelon;
                            border-color: $color-red-watermelon;
                        }
                        .repush {
                            width: 70px;
                        }
                        .status {
                            color: $color-gray;
                            font-size: 13px;
                            display: none;
                        }
                        .meta {
                            @include font (12px, $color-gray, normal);
                            display: inline-block;
                        }
                        .has_add {
                            @include font (12px, $color-green, normal);
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                    .avatar_collection {
                        // @include avatar;
                        img {
                            border-radius: 10%;
                        }
                    }
                }
            }
        }
    }
}