// 模态框
.modal {
    background-color: hsla(0, 0%, 100%, .7);
    .modal-dialog {
        position: fixed;
        top: 45%;
        left: 50%;
        .modal-header {
            padding: 20px;
            .modal-title {
                @include font (17px, $color-black, 700);
            }
        }
        .modal-body {
            padding: 0;
        }
        @media screen and (max-width: 650px) {
            width: 320px;
        }
    }
}