// 介绍公告
.description {
    @include spacing (0 0 17px 0, 0 0 16px);
    border-bottom: 1px solid $color-white-silver;
    text-align: left;
    a {
        display: inline-block;
        line-height: 30px;
        img {
            @include size (20px,20px);
            margin-right: 5px;
        }
    }
}

// 用户、个人页右边aside的列表样式
.aside_list {
    @include spacing (0 0 16px 0, 0 0 16px 0);
    border-bottom: 1px solid $color-white-silver;
    li {
        margin: 0 0 10px 0;
        a {
            display: inline-block;
            line-height: 30px;
            i {
                font-size: 20px;
                vertical-align: middle;
                margin-right: 5px;
            }
            .icon-wenji {
                color: $color-gray;
                font-size: 17px;
            }
            span {
                vertical-align: middle;
            }
        }
    }
}

// 编辑、删除专题
.user_action {
    color: $color-gray;
    .litter_title {
        &:focus {
            color: $color-gray;
        }
    }
    em {
        margin: 0 3px 0 3px;
    }
}