// 个人主页/个人喜欢文章/关注专题文集页
#home {
    @include aside;
    // 左侧
    .main {
        @media screen and (max-width: 470px) {
            .trigger_menu {
                li {
                    a {
                        padding: 0 5px;
                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // 右侧
    .aside {
        font-size: 14px;
        padding-left: 35px;
        .litter_title {
            margin-bottom: 10px;
            .function_btn {
                i {
                    font-weight: 400;
                }
                &:hover {
                    color: $color-black;
                }
            }
        }
        .intro_form {
            margin-bottom: 20px;
            display: none;
            .form-control {
                @include spacing (0 0 10px 0, 10px 15px);
                box-shadow: none;
                height: 150px;
                resize: none;
                background-color: hsla(0, 0%, 71%, .1);
                &:focus {
                    box-shadow: none;
                    border-color: #ccd0d2;
                }
            }
            .btn_hollow_xs {
                padding: 5px 10px;
            }
            a {
                color: #999;
                line-height: 34px;
                vertical-align: middle;
                margin-left: 10px;
                &:hover {
                    color: $color-black;
                }
            }
        }
        .user_dynamic {
            padding-bottom: 6px;
        }
        .new_collection {
            @include font (13px,$color-green,400);
        }
    }
}