// 首页
#index {
    @include aside;
    margin-top: -30px; // 左侧
    .main {
        // 专题分类
        .classification {
            margin-bottom: 10px;
        } // 分割线
        .split_line {
            margin-top: -5px;
        }
        @media screen and (max-width: 768px) {
            .classification {
                display: none;
            }
            .s_s_classification {
                display: block;
            }
            .split_line {
                border: none;
                margin: 5px -16px 15px;
                height: 10px;
                background-color: $color-white-silver;
            }
        }
    } // 右侧
    .aside {
        padding-left: 35px;
        .video_list {
            padding-top: 15px;
            .article_item {
                border: none;
                padding: 0;
                .headline {
                    font-size: 13px;
                    span {
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}