// 用户页/用户喜欢文章/关注专题文集页
#user {
    @include aside;
    // 左侧
    .main {
        .main_top {
            .btn_hollow {
                margin-left: 5px;
            }
            @media screen and (max-width: 992px) {
                padding-bottom: 30px;
                position: relative;
                .btn_base {
                    position: absolute;
                    top: 70px;
                    margin-bottom: 0;
                    @media screen and (max-width: 410px) {
                        top: 100px;
                    }
                }
                .btn_follow,.btn_followed {
                    right: 40px;
                }
            }
        }
        @media screen and (max-width: 470px) {
            .trigger_menu {
                li {
                    a {
                        padding: 0 5px;
                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    // 右侧
    .aside {
        font-size: 14px;
        padding-left: 35px;
        .list {
            padding-bottom: 10px;
        }
        .litter_title {
            margin-bottom: 10px;
        }
        .user_dynamic {
            padding-bottom: 6px;
        }
    }
}