@mixin word_line($margin-bottom) {
	margin-bottom: $margin-bottom;
	line-height: 1.7;
	word-wrap: break-word;
}

@mixin picture {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
}

.r_bar_bg {
	.id_div {
		.item_top {
			margin-bottom: 25px;
			.top_hero_card {
				& > div {
					margin-bottom: 20px;
					img {
						@include picture;
					}
				}
				p {
					@include word_line(20px);
					text-align: center;
				}
			}
		}
		.w1002 {
			.item_left {
				.l_title {
					font-weight: bold;
				}
				.hero_info {
					display: inline-block;
					width: 100%;
					margin-bottom: 45px;
					.hero_b {
						float: left;
						margin-right: 20px;
					}
					.hero_name {
						padding: 20px 0;
						font-weight: bold;
					}
					.info_ul {
						li {
							margin-bottom: 20px;
							&::before,
							&::after {
								display: none;
							}
							.info_p {
								display: inline-block;
								@include word_line(0);
								img {
									padding-bottom: 0;
								}
							}
						}
					}
					@media screen and (max-width: 550px) {
						text-align: center;
						.hero_b {
							float: none;
							margin-right: 0;
						}
					}
				}
				.property_box {
					margin-bottom: 45px;
					.pro6_box {
						display: inline-block;
						width: 100%;
						li {
							padding: 20px;
							text-align: center;
							.pop_box {
								margin-top: 10px;
								.pop_property_t {
									font-weight: bold;
								}
								.pop_property_cont {
									display: inline-block;
									text-align: left;
									@include word_line(0);
								}
							}
						}
					}
				}
				.honor_box {
					margin-bottom: 45px;
					.honor_one {
						margin-top: 5px;
					}
				}
			}
			.item_right {
				.r_title {
					font-weight: bold;
				}
				.silide_r {
					display: none;
				}
				.story_box {
					margin: 10px 0 45px;
					line-height: 1.7;
					word-wrap: break-word;
					.story_pic {
						margin-bottom: 20px;
						img {
							@include picture;
						}
						.fangda {
							display: none;
						}
					}
				}
				.video_wrap {
					margin: 10px 0 20px;
					.gl_box {
						.gl_one {
							.gl_one_t {
								font-weight: bold;
							}
							.gl_one_wrap {
								img {
									float: left;
									margin-right: 5px;
								}
							}
						}
					}
				}
				.talent_box {
					margin: 10px 0 25px;
					.talent_ul {
						li {
							display: inline-block;
							width: 100%;
							margin-bottom: 20px;
							.talent-explain {
								display: inline-block;
								width: 42%;
								text-align: center;
								line-height: 1.7;
							}
							.level-external {
								display: inline-block;
								width: 12%;
								text-align: center;
							}
						}
					}
				}
				.skill_box {
					margin: 10px 0 35px;
					dl {
						dt {
							margin-bottom: 10px;
							ul {
								li {
									display: inline-block;
									width: 17%;
									margin-bottom: 10px;
									@media screen and (max-width: 600px) {
										width: 23%;
									}
									@media screen and (max-width: 470px) {
										width: 30%;
									}
									@media screen and (max-width: 335px) {
										width: 48%;
									}
									img {
										display: block;
										margin-bottom: 5px;
										max-width: 90px;
										max-height: 90px;
									}
								}
							}
						}
						dd {
							margin-bottom: 20px;
							border-bottom: 2px solid #f0f0f0;
							padding-bottom: 10px;
							// &:last-child {
							// 	border-bottom: 0;
							// }
							.skill_wrap {
								display: inline-block;
								width: 100%;
								margin-bottom: 10px;
								.skill_b {
									float: left;
									margin-right: 20px;
									max-width: 90px;
									max-height: 90px;
								}
								.skill_info {
									display: inline-block;
									width: 82%;
									@media screen and (max-width: 655px) {
										width: 62%;
									}
									.skill_intro {
										@include word_line(15px);
										span {
											font-weight: bold;
										}
									}
									.color_green {
										@include word_line(15px);
										font-weight: 600;
									}
									.xiaohao_wrap {
										margin-bottom: 15px;
										.icon_xh,
										.icon_lq {
											display: inline-block;
											width: 49%;
											line-height: 1.7;
										}
									}
									.skill_ul {
										li {
											margin-bottom: 8px;
										}
									}
								}
							}
							.skill_bot {
								line-height: 1.7;
								word-wrap: break-word;
							}
						}
					}
				}
				.ability_box {
					margin: 10px 0 15px;
					.point_wrap {
						margin-bottom: 20px;
						border-bottom: 2px solid #f0f0f0;
						padding-bottom: 10px;
						display: inline-block;
						width: 100%;
						.skill_m {
							float: left;
							margin-right: 20px;
							max-width: 90px;
							max-height: 90px;
						}
						.pop_box {
							display: inline-block;
							width: 82%;
							@media screen and (max-width: 655px) {
								width: 62%;
							}
							.pop_skill_t {
								span {
									font-weight: bold;
								}
							}
							.pop_skill_p {
								@include word_line(15px);
							}
							.color_green {
								@include word_line(15px);
								font-weight: 600;
							}
							.pop_skill_data {
								@include word_line(15px);
							}
							.xiaohao_wrap {
								margin-bottom: 15px;
								.icon_xh,
								.icon_lq {
									display: inline-block;
									width: 49%;
									line-height: 1.7;
								}
							}
							.pop_skill_s {
								@include word_line(0);
							}
						}
					}
					.tree_box {
						display: none;
					}
				}
				.r_box {
					margin: 10px 0 15px;
					.equip_wrap {
						.equip_one {
							.equip_t {
								font-weight: bold;
							}
							.equip_ul {
								li {
									padding: 30px;
									line-height: 1.7;
									.pop_box {
										.pop_equip_wrap {
											img {
												margin-right: 20px;
												float: left;
											}
											.equip_item_r {
												display: inline-block;
												padding-top: 10px;
											}
										}
										.pop_skill_p {
											margin: 10px 0 0;
										}
										h1 {
											font-size: 16px;
											font-weight: bold;
											margin: 20px 0;
										}
										.pop_skill_s {
											margin: 10px 0 0;
										}
										.xiaohao_wrap {
											margin: 20px 0;
											.icon_xh,
											.icon_lq {
												display: inline-block;
												width: 49%;
												line-height: 1.7;
											}
										}
										.color_green {
											@include word_line(0);
											font-weight: 600;
											margin-top: 20px;
										}
									}
								}
							}
						}
					}
					.match_ul {
						margin-top: 10px;
						li {
							display: inline-block;
							width: 49%;
							margin-bottom: 30px;
							@media screen and (max-width: 570px) {
								display: block;
								text-align: center;
								width: 100%;
							}
							.match_bg {
								img {
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
