.search {
    position: relative;
    .search-form {
        display: block;
        .search-input {
            width: 150px;
            height: 40px;
            padding: 8px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 18px rgba(17, 18, 38, 0.1);
            transition: all 0.5s ease-in-out;
            color: #313131;
            font-size: 13px;
            &::placeholder {
                color: #999;
            }
            @media (max-width: $col-sm-width) {
                padding: 6px;
                width: 80px;
                height: 30px;
                border-bottom-width: 1px;
                border-color: rgba(17, 18, 38, 0.5);
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;
            }
            @media (min-width: $col-lg-width) {
                padding: 8px;
                width: 200px;
            }
        }
        .search-submit {
            .iconfont {
                display: inline-block;
                font-size: 1.6rem;
                line-height: 60px;
            }
        }
    }
}