// 大标题
.headline {
    @include font (18px, $color-black, 700);
    line-height: 1.5;
}

// 文章标题
.paper_title {
    display: inline-block;
    span {
        @include line_number (2);
        &:hover {
            text-decoration: underline;
        }
    }
}

// 右边aside的小标题
.litter_title {
    @include font (14px, $color-gray, normal);
    text-align: left;
    a {
        color: $color-gray;
        float: right;
        i {
            font-size: 14px;
        }
        &:hover,&:focus {
            color: $color-gray-deep;
        }
    }
}

// 问答页右侧带线的小标题
.title_line {
    border-bottom: 3px solid #e8e8e8;
    height: 30px;
    .title_active {
        position: relative;
        font-weight: bold;
        color: $color-black;
        &::before,&::after {
            position: absolute;
            content: '';
            bottom: -13px;
            box-sizing: content-box;
            width: 100%;
            height: 0;
            border-width: 3px;
            border-style: none dashed solid none;
        }
        &::before {
            left: 1px;
            padding-right: 6px;
            border-bottom-color: #f8f8f8;
            border-right-color: #e8e8e8;
        }
        &::after {
            left: 0;
            padding-right: 2px;
            border-bottom-color: $color-theme;
            border-right-color: #f8f8f8;
        }
    }
}

// 详情页推荐带杠的标题
.recommend_title {
    font-size: 15px;
    padding-left: 8px;
    border-left: 3px solid $color-theme;
    line-height: 1;
    a {
        float: right;
        color: #A0A0A0;
        font-size: 14px;
        i {
            font-size: 14px;
        }
        &:hover,&:focus {
            color: #A0A0A0;
        }
    }
}

// 专题名、用户名、个人名
.nickname {
    vertical-align: middle;
    span {
        margin-right: 5px;
        vertical-align: middle;
    }
    i {
        font-weight: normal;
        vertical-align: middle;
    }
    .icon-nvsheng1 {
        color: $color-theme;
    }
    .icon-nansheng1 {
        color: $color-blue;
    }
}

// 15大小的优秀作者图标
.badge_icon_xs {
    @include size (15px,15px);
    margin-right: 5px;
}

// 20大小的优秀作者图标
.badge_icon_sm {
    @include size (20px,20px);
    margin-right: 5px;
}

// 推荐页的标签图
.tag_banner {
    width: 100%;
    min-height: 78px;
    border-radius: 4px;
    margin-bottom: 30px;
}

// 消息提醒数量
.badge {
    padding: 3px 6px;
    background-color: $color-theme;
}

// 热门专题分类页和推荐作者页的标题图
.recommend_img {
    position: relative;
    img {
        width: 100%;
        min-height: 78px;
        border-radius: 4px;
    }
    .help {
        @include font (16px,$color-white,400);
        position: absolute;
        top: 28px;
        right: 30px;
        i {
            margin-right: 5px;
        }
        @media screen and (min-width: 992px) {
            top: 38px;
        }
        @media screen and (min-width: 1200px) {
            top: 48px;
        }
    }
}