.movie-player {
    position: relative;
    background-color: #1c1d30;
    //   background-color: #0f0f1e;

    .player-main {
        padding: 0 !important;
    }
    .embed-responsive {
        padding-bottom: 56.25%;
    }
    .fluid_video_wrapper {
        width: 100%;
        height: 100%;
    }
    .player__operate {
        background: #0f0f1e;
        display: flex;
        padding: 15px 0 15px 5px;
        & > li {
            width: 90px;
            cursor: pointer;
            transition: all 0.3s;
            display: inline-block;
            white-space: nowrap;
            position: relative;
            font-size: 1rem;
            &:not(:last-child) {
                margin-right: 8px;
            }
            a {
                color: #999;
            }
            i {
                font-size: 1.2rem;
            }
        }
    }
    .player-side {
        padding: 0;
    }
    .side-panel {
        padding: 10px;
    }
    .video_desc {
        position: relative;
        margin-bottom: 10px;
        .title {
            display: inline-block;
            margin: 0;
            padding-right: 10px;
            line-height: 30px;
            font-size: 1.5rem;
            color: #f0f0f0;
            .text-ep {
                color: #ff5c38;
            }
        }
        .type {
            font-size: 0.9rem;
            color: #999;
        }
    }
    .video_playlist {
        overflow: auto;
        max-height: 160px;
        @media (min-width: 992px) {
            max-height: 400px;
        }
        &::-webkit-scrollbar {
            width: 4px;
            background-color: #0f0f1e;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #434145;
        }
    }
    .panel-content__list {
        display: flex;
        flex-wrap: wrap;
        [class*="col-"] {
            padding: 10px 5px;
        }
        @media (max-width: 991px) {
            [class*="col-"] {
                padding: 10px;
            }
        }
    }
    .btn-episode {
        display: block;
        padding: 8px 0;
        border-radius: 3px;
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #ddd;
        &.active {
            background-color: #0f0f1e;
            color: #ff5c38;
        }
        &:hover {
            background-color: #0f0f1e;
            color: #ff5c38;
        }
    }
}
