// 大小
@mixin size ($width, $height) {
    width: $width;
    height: $height;
}

// 字体
@mixin font ($font-size, $color, $font-weight) {
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
}

// 间距
@mixin spacing ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

// 边框
@mixin border ($border-radius, $border) {
    border-radius: $border-radius;
    border: $border;
}

// 文章行数
@mixin line_number ($-webkit-line-clamp) {
    display: -webkit-box;
    -webkit-line-clamp: $-webkit-line-clamp;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// 隐藏右边模块
@mixin aside {
    @media screen and (max-width: 768px) {
        .aside {
            display: none;
        }
    }
}