// 头像
@import "v2/components/avatar";

// 文章模块统计数量
@import "v2/components/meta";

// 推荐分类
@import "v2/components/collection";

// 文章
@import "v2/components/article";

// 按钮
@import "v2/components/buttom";

// 热门榜
@import "v2/components/aside/hot_list";

// 二维码
@import "v2/components/aside/app";

// 右侧内容
@import "v2/components/aside/aside";

// 用户、关注页的信息
@import "v2/components/main_top";

// 标签页
@import "v2/components/trigger_menu";

// 分享
@import "v2/components/share";

// 表单
@import "v2/components/form";

// 作者
@import "v2/components/author";

// 模态框
@import "v2/components/modal";

// 评论
@import "v2/components/comment";

// 轮播图
@import "v2/components/posters";

// 动画
@import "v2/components/animation";