// 评论排序方式
.top_title {
    padding-bottom: 25px;
    border-bottom: 1px solid $color-white-silver;
    span {
        @include font (17px, $color-black, 700);
        vertical-align: middle;
    }
    .author_only {
        @include border (12px, 1px solid #e1e1e1);
        @include spacing (0 0 0 10px, 4px 6px 2px 6px);
        color: $color-gray;
        font-weight: 700;
        &.active {
            background-color: $color-theme;
            color: $color-white;
            border: 1px solid $color-theme;
        }
    }
    .pull-right {
        padding-top: 6px;
        a {
            color: $color-gray;
            margin-left: 10px;
            display: inline-block;
            &:hover {
                color: $color-black;
            }
            @media screen and (max-width: 405px)  {
                margin-left: 2px;
            }
        }
        .active {
            color: $color-black;
        }
    }
}

// 评论赞、回复、举报 操作
.comment_wrap {
    p {
        font-size: 16px;
        margin: 10px 0;
        line-height: 1.5;
        .moleskine_author {
            color: $color-blue;
        }
    }
    .tool_group {
        .action_btn {
            color: $color-gray;
            font-size: 14px;
            margin-right: 15px;
            display: inline-block;
            i {
                margin-right: 3px;
                font-size: 16px;
                vertical-align: middle;
            }
            span {
                vertical-align: middle;
            }
            &:hover {
                color: $color-black;
                .icon-fabulous {
                    color: $color-theme;
                }
            }
        }
        .report {
            float: right;
            margin-top: 4px;
            display: none;
        }
    }
    &:hover {
        .report {
            display: inline;
        }
    }
}

// 子评论
.sub_comment_list {
    @include spacing (20px 0 0 0, 5px 0 5px 20px);
    border-left: 2px solid $color-gray-light;
    .comment_wrap {
        @include spacing (0 0 15px 0, 0 0 15px 0);
        border-bottom: 1px dashed $color-white-silver;
        p {
            font-size: 14px;
            margin: 0 0 5px;
        }
        .tool_group {
            .action_btn {
                font-size: 12px;
                margin-left: 10px;
                i {
                    font-size: 14px;
                }
            }
            .comment_time {
                font-size: 12px;
                color: $color-gray;
            }
        }
        &:last-child {
            @include spacing (0,0);
            border: 0;
        }
    }
    // 添加新评论
    .more_comment {
        @include font (14px,$color-gray,normal);
        .add_comment_btn {
            color: $color-gray;
            i {
                margin-right: 5px;
            }
            &:hover {
                color: $color-black;
            }
        }
        .line_warp {
            @include spacing (0 0 0 10px, 0 0 0 10px);
            border-left: 1px solid $color-gray-light;
            a {
                color: $color-blue;
            }
        }
    }
}

// 分页
.pagination {
    display: block;
    text-align: center;
    margin: 0;
    li {
        display: inline-block;
        margin: 0 5px;
        a {
            border-radius: 20px;
            color: $color-gray;
            &:hover,&:focus {
                color: $color-gray;
            }
        }
        .active {
            border: none;
            background-color: inherit;
            font-weight: 700;
            &:hover {
                background-color: inherit;
            }
        }
        &:first-child,&:last-child {
            a {
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
    }
}

// 评论工具
.tool_cabinet {
    .question_bottom {
        margin-bottom: 20px;
    }
    .answer_tool {
        margin: 20px 0;
    }
    .comment_list {
        background-color: $color-white-milk;
        border-radius: 2px;
        padding: 20px;
        .normal_comment_list {
            margin-top: 30px;
            .top_title {
                border-color: #DDDDDD;
            }
            .comment {
                padding: 20px 0;
                border-bottom: 1px solid #DDDDDD;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}