// 模态框搜索
.search_box {
    position: relative;
    .form-control {
        @include border (40px, 0);
        padding: 0 40px 0 20px;
        background-color: hsla(0,0%,71%,.25);
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .icon-sousuo {
        @include size (30px, 30px);
        @include font (20px, $color-gray-deep, normal);
        position: absolute;
        top: 4px;
        right: 4px;
        text-align: center;
        border-radius: 50%;
    }
}

// 输入框
.input_box {
    .form-control {
        padding: 8px 10px;
        box-shadow: none;
        &:focus {
            border-color: #ccd0d2;
        }
    }
}

// 文本框
.textarea_box {
    padding: 15px 10px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    background-color: hsla(0, 0%, 71%, .1);
    font-size: 14px;
    textarea {
        width: 100%;
        height: 44px;
        padding: 0;
        resize: none;
        border: none;
        background: none;
    }
}

// 金额输入框
.money_input_box {
    position: relative;
    margin-bottom: 40px;
    label {
        position: absolute;
        top: 11px;
        left: 20px;
        font-weight: 400;
    }
    .form-control {
        height: auto;
        padding-left: 95px;
        color: #646464;
        font-size: inherit;
        line-height: 38px;
        border-color: #eee;
        background-color: hsla(0,0%,71%,.1);
        box-shadow: none;
    }
    .amount {
        position: absolute;
        top: 11px;
        right: 20px;
    }
}

// 搜索框
.navbar-form {
    border-color: transparent;
    border: 0;
    .form-group {
        .search_wrp {
            display: inline-block;
            margin: 0 auto;
            .form-control {
                @include size (170px, 36px);
                transition: all 0.3s ease-in-out;
                &:focus {
                    width: 190px;
                    &+.icon-sousuo {
                        color: $color-white-silver;
                        background-color: $color-gray-deep;
                    }
                }
            }
            .icon-sousuo {
                @include size (28px, 28px);
                line-height: 28px;
            }
        }
    }
}

// 搜索框下拉热门搜索
.hot_search_wrp {
    margin-top: 9px;
    width: 190px;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    z-index: 1030;
    &,
    &::before {
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }
    &::before {
        @include size (10px, 10px);
        content: "";
        left: 27px;
        transform: rotate(45deg);
        top: -5px;
        z-index: -1;
    }
    .hot_search {
        padding: 15px 15px 10px;
        border-bottom: 1px solid #f0f0f0;
        background-color: #FFF;
        border-radius: 4px;
        .litter_title {
            @include font (14px, $color-gray, normal);
            line-height: 2;
            margin-bottom: 10px;
            text-align: left;
            .more {
                float: right;
                height: 100%;
                color: $color-gray;
                i {
                    font-size: 14px;
                    vertical-align: middle;
                }
                &:hover {
                    color: $color-black;
                }
            }
        }
        ul {
            text-align: left;
            li {
                margin-right: 10px;
                display: inline-block;
                line-height: 28px;
                a {
                    @include font (12px, $color-gray, normal);
                    @include border (3px, 1px solid #ddd);
                    padding: 2px 6px;
                    &:hover {
                        color: $color-black;
                        border-color: $color-gray-deep;
                    }
                }
            }
        }
    }
}