// 模态框搜索
.search_box {
    position: relative;
    .form-control {
        @include border (40px, 0);
        padding: 0 40px 0 20px;
        background-color: hsla(0,0%,71%,.25);
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .icon-sousuo {
        @include size (30px, 30px);
        @include font (20px, $color-gray-deep, normal);
        position: absolute;
        top: 4px;
        right: 4px;
        text-align: center;
        border-radius: 50%;
    }
}

// 输入框
.input_box {
    .form-control {
        padding: 8px 10px;
        box-shadow: none;
        &:focus {
            border-color: #ccd0d2;
        }
    }
}

// 文本框
.textarea_box {
    padding: 15px 10px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    background-color: hsla(0, 0%, 71%, .1);
    font-size: 14px;
    textarea {
        width: 100%;
        min-height: 55px;
        padding: 0;
        resize: none;
        border: none;
        background: none;
    }
}

// 金额输入框
.money_input_box {
    position: relative;
    margin-bottom: 40px;
    label {
        position: absolute;
        top: 11px;
        left: 20px;
        font-weight: 400;
    }
    .form-control {
        height: auto;
        padding-left: 95px;
        color: #646464;
        font-size: inherit;
        line-height: 38px;
        border-color: #eee;
        background-color: hsla(0,0%,71%,.1);
        box-shadow: none;
    }
    .amount {
        position: absolute;
        top: 11px;
        right: 20px;
    }
}