// 付费相关提示
.question_tip {
    background-color: $color-theme;
    color: $color-white;
    padding: 12px;
    font-size: 15px;
    border-radius: 4px;
    line-height: 1.5;
    display: inline-block;
    width: 100%;
    .question_tip_money {
        float: right;
        font-weight: 700;
        i {
            font-size: 14px;
        }
    }
}

// 付费回答问题人数
.pay_answer_num {
    text-align: center;
    font-size: 15px;
    color: $color-gray;
    margin-bottom: 20px;
    line-height: 1.5;
    .status {
        font-size: 14px;
        color: $color-theme;
    }
}

// 问答付费选项
.pat_choice {
    .title {
        font-size: 14px;
    }
    .setting_group {
        >div {
            margin-top: 5px;
            .option {
                font-size: 14px;
                color: $color-gray;
                display: inline-block;
                vertical-align: middle;
                &.hot {
                    color: $color-theme;
                }
            }
            .switch_area {
                float: right;
            }
        }
    }
    .pay_group {
        background-color: $color-white-milk;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        .pay_title {
            font-size: 13px;
            margin-bottom: 10px;
        }
        .pay_tip {
            .pay_tip_content {
                font-size: 13px;
                color: $color-gray;
                line-height: 30px;
                a {
                    color: $color-blue;
                }
            }
        }
        .money_amount {
            .amount_group {
                input[type="radio"] {
                    display: none;
                    &:checked+.option {
                        color: #d96a5f;
                        border-color: #d96a5f;
                        .custom_text {
                            opacity: 0;
                        }
                        .custom_amount_input {
                            z-index: 1;
                            opacity: 1;
                        }
                    }
                }
                .option {
                    position: relative;
                    width: 90px;
                    height: 44px;
                    line-height: 42px;
                    border: 1px solid #e6e6e6;
                    border-radius: 4px;
                    cursor: pointer;
                    margin: 0 5px 15px;
                    font-weight: 400;
                    color: #999;
                    text-align: center;
                    i {
                        font-size: 16px;
                        vertical-align: middle;
                    }
                    .amount {
                        font-size: 15px;
                        vertical-align: middle;
                    }
                    .piece {
                        font-size: 13px;
                        vertical-align: sub;
                    }
                    .custom_text {
                        font-size: 14px;
                    }
                    .custom_amount_input {
                        position: absolute;
                        top: 0;
                        z-index: -1;
                        width: 100%;
                        opacity: 0;
                        i {
                            position: absolute;
                            top: 0;
                            left: 10px;
                        }
                        input {
                            display: block;
                            margin: 0 auto;
                            width: 50px;
                            height: 38px;
                            line-height: 38px;
                            border: none;
                            font-size: 16px;
                            text-align: center;
                            background: transparent;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button{
                                -webkit-appearance: none !important;
                                margin: 0;
                            }
                        }
                        .piece {
                            position: absolute;
                            top: 0px;
                            right: 10px;
                        }
                    }
                }
            }
        }
        .expiration_date {
            span {
                font-size: 13px;
                color: $color-gray;
                display: inline-block;
                vertical-align: middle;
            }
            input[type="radio"] {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}