// 编辑器工具栏悬浮固定
.simditor-toolbar {
    top:52px!important;
}

// 提问回答页的最佳答案输入框
.answer_write {
    .optimum {
        margin-bottom: 10px;
        .suggest_title {
            font-size: 15px;
            font-weight: 700;
            margin-bottom: 5px;
            .depict {
                font-size: 10px;
                background-color: #777;
                color: $color-white;
                padding: 3px 6px;
                border-radius: 4px;
            }
        }
    }
}

// 发表
.simditor_submi {
    position: relative;
    .submitbar {
        position: absolute;
        height: 45px;
        bottom: 0;
        right: 7px;
        z-index: 1;
    }
}

// 详情页编辑器
.editor_box {
    &.simditor_submi {
        .simditor-box {
            .simditor {
                border: none;
            }
        }
        .submitbar {
            bottom: 10px;
            right: 15px;
        }
    }
}