// 榜单
.board {
    margin-top: -4px;
    padding-bottom: 4px;
    a {
        position: relative;
        display: inline-block;
        img {
            width: 100%;
            min-height: 50px;
            margin-bottom: 6px;
            border-radius: 4px;
        }
        .board_tit {
            position: absolute;
            display: flex;
            width: 68%;
            padding-left: 10%;
            top: 8px;
            bottom: 8px;
            left: 1%;
            align-items: center;
            font-size: 16px;
            color: #fff;
            i {
                padding-left: 5px;
            }
            &.one {
                background-color: #c094fe;
            }
            &.two {
                background-color: #feb247;
            }
            &.three {
                background-color: #f58a76;
            }
            &.four {
                background-color: #b9e0d9;
                color: #49837b;
            }
            &.five {
                background-color: #aed0e9;
                color: #437da0;
            }
        }
    }
}
