// 榜单
.board {
    margin-top: -4px;
    padding-bottom: 4px;
    .board-list {
        width: 280px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 12px;
        .board-title {
            margin-left: 30px;
            font-size: 17px;
            color: #fff;
            i {
                padding-left: 5px;
            }
        }
        .board-right {
            float: right;
            font-size: 48px;
        }
        .permanent,
        .seven-days,
        .thirty-days,
        .question,
        .classroom {
            display: block;
            background: #c094fe;
            border-radius: 4px;
            .board-right {
                color: #9026ed;
            }
        }
        .seven-days {
            background: #feb247;
            .board-right {
                color: #f89b00;
            }
        }
        .thirty-days {
            background: #f58a76;
            .board-right {
                color: #e16a52;
            }
        }
        .question {
            background: #71c671;
            .board-right {
                color: #008b00;
            }
        }
        .classroom {
            background: #aed0e9;
            .board-title {
                color: #437da0;
            }
            .board-right {
                color: #66aace;
            }
        }
    }
}
