//更多专题列表页
#categories {
    .recommend {
        text-align: center;
        .trigger_menu {
            text-align: left;
            margin-top: 30px;
            @media screen and (max-width: 400px) {
                li {
                    a {
                        padding: 0 10px;
                        i {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .recommend_list {
            @media screen and (min-width: 450px) and (max-width: 768px) {
                width: 50%;
                .collection_wrap {
                    width: 100%;
                }
            }
        }
        .load_more {
            width: 35%;
        }
    }
}