// 设置页
#setting {
    .setting_wrp {
        .aside {
            @include spacing (81px 0 0, 0 0 30px);
            position: fixed;
            top: 0;
            bottom: 0;
            overflow: auto;
            width: 330px;
            @media screen and (max-width: 992px) {
                width: 200px;
            }
            @media screen and (max-width: 768px) {
                width: 20%;
            }
        }
        .main {
            overflow: auto;
            margin-left: 360px;
            @media screen and (max-width: 992px) {
                margin-left: 230px;
            }
            @media screen and (max-width: 768px) {
                margin-left: 24%;
            }
            table {
                width: 100%;
                tr {
                    border-bottom: 1px solid #f0f0f0;
                    td {
                        padding: 20px 0;
                        .form-control {
                            padding: 9px 15px;
                            font-size: 15px;
                            background-color: hsla(0, 0%, 71%, .1);
                            box-shadow: none;
                            &:focus {
                                box-shadow: none;
                                border-color: #ccd0d2;
                            }
                        }
                    }
                    &:last-child {
                        border: none;
                    }
                }
            }
            .btn_follow {
                margin: 30px 0 60px 0;
            }
        }
    }
}